@import "styles";
@import "compass";

//colors
$white_80: rgba(255, 255, 255, 0.8);
$gray: #808080;
$black: #000;
$white: #fff;
$light-gray: #ccc;
$very-light-gray: #ddd;
$very-very-light-gray: #eee;
$extremely-light-gray: #fcfcfc;
$cream-color: #ffc;
$kmla-notification-new-color: #e7f3ff;
$kmla-notification-hover-color: #e1eeff;
$kmla-header-extend-color: #bed6ea;
$kmla-menu-color: #074275;
$kmla-highlight-color: $panel-info-heading-bg;
// $kmla-footer-color: #ffefd2;
$kmla-footer-color: lighten($kmla-header-extend-color, 10%);
$kmla-wave-button-hover-color: #ddefff;
$kmla-profile-nav-color: #a3cfff;

//chart colors
$food-5: #13BD2A;
$food-4: #7BBD2A;
$food-3: #DDDD33;
$food-2: #EEB627;
$food-1: #E37F24;
$food-0: #F25134;

//fonts
$kmla-fonts: 'Open Sans','arial','Apple SD Gothic Neo','Noto Sans Korean','본고딕','KoPubDotum Medium','나눔바른고딕','나눔고딕','NanumGothic','맑은고딕', 'Malgun Gothic', 'sans-serif';

//urls
$big-logo-url: url('/images/big-logo.png');
$dasan-extend-url: url('/images/dasan-extend.jpg');
$dasan-url: url('/images/dasan.png');
$menubar-panel-url: url('/images/menubar-panel.png');
$logo-url: url('/images/logo.png');
* ::selection {
    background: $kmla-highlight-color;
}
//bootstrap custom panel backgrounds
.panel-success > .panel-body {
    @include background-image(linear-gradient(lighten($panel-success-heading-bg, 13%), #ffffff 10%));
    * ::selection {
        background: $panel-success-heading-bg;
    }
}

.panel-info > .panel-body {
    @include background-image(linear-gradient(lighten($panel-info-heading-bg, 7.5%), #ffffff 10%));
    * ::selection {
        background: $panel-info-heading-bg;
    }
}

.panel-warning > .panel-body {
    @include background-image(linear-gradient(lighten($panel-warning-heading-bg, 7%), #ffffff 10%));
    * ::selection {
        background: $panel-warning-heading-bg;
    }
}

.panel-danger > .panel-body {
    @include background-image(linear-gradient(lighten($panel-danger-heading-bg, 6%), #ffffff 10%));
    * ::selection {
        background: $panel-danger-heading-bg;
    }
}

//@extend-elements
//original selectors
//html, body
%extend_1 {
	height: 100%;
	width: 100%;
	font-family: $kmla-fonts;
	line-height: 1.5em;
}

//original selectors
//div#total-header #userarea #status_message, div#total-header #userarea #status_message_edit
%extend_4 {
	display: block;
	overflow: hidden;
	font-size: 12pt;
	padding: 1px 0;
}

//original selectors
//.grid-stack .grid-stack-item .grid-stack-item-content, .grid-stack .grid-stack-item .placeholder-content
%extend_7 {
	left: 3px;
	right: 3px;
	overflow: hidden;
}

//original selectors
//.btn-group .bootstrap-select.btn-group:not(.input-group-btn), .btn-group .bootstrap-select.btn-group[class*="col-"]
%extend_8 {
	float: left;
	display: inline-block;
	margin-left: -1px;
}

html {
	overflow-y: scroll;
	@extend %extend_1;
}
body {
    overflow: visible!important;
	@extend %extend_1;
	&.cke_contents_ltr {
		margin: 5px;
		width: auto;
		height: auto;
	}
}
.circle {
	border-radius: 100%;
}
.anonymous-bubble {
	color: $white_80;
	font-size: xx-large;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
a {
	cursor: pointer;
	&.block {
		background: $extremely-light-gray;
		display: block;
		text-align: center;
		&:hover {
			background: $white;
		}
		&:active {
			background: $very-very-light-gray;
		}
	}
}
blockquote {
	border: 1px solid $gray;
	margin: 3px;
	padding: 3px;
}
input {
	margin: 0;
}
table {
	&.table_info_view {
		border-spacing: 0;
		border-color: 1px none $gray;
		border-collapse: collapse;
		width: 100%;
		th {
			border: 1px inset $gray;
			padding: 5px;
			width: 200px;
			text-align: right;
			vertical-align: top;
		}
		td {
			padding: 5px;
			border: 1px inset $gray;
			input[type="text"] {
				width: 320px;
			}
			input[type="password"] {
				width: 320px;
			}
		}
	}
}
div {
	&#divSavingIndicatorFiller {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		display: none;
		background: $black;
		z-index: 3;
		opacity: 0.70;
	}
	&#divSavingIndicator {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		display: none;
		z-index: 4;
	}
	&#divSavingIndicatorInformation {
		position: fixed;
		width: 480px;
		margin-left: -240px;
		left: 50%;
		top: 128px;
		font-size: 24pt;
		background: $white;
		color: $black;
		text-align: center;
		padding-top: 24px;
		padding-bottom: 24px;
		padding-left: 36px;
		padding-right: 36px;
	}
	&#total-wrap {
        width: 1020px;
		width: calc(58% + 320px);
		max-width: 90%;
        max-width: calc(100% - 80px);
		font-size: 11pt;
		margin: 0 auto;
		min-height: 100%;
	}
	&#upper-header-menu {
		display: block;
		overflow: hidden;
		height: 0;
		opacity: 0.7;
		position: relative;
		background: $white;
	}
	&#total-header-menu-outer {
		position: fixed;
		z-index: 999;
		width: inherit;
        max-width: inherit;
	}
	&#total-header-menu {
		height: 40px;
		display: block;
		background: $kmla-menu-color;
		.button {
			width: 40px;
			height: 40px;
			display: block;
			float: right;
			text-align: center;
		}
		.menu1 {
			display: block;
			float: left;
			width: 80px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			overflow: hidden;
			position: relative;
			color: $white_80;
			text-decoration: none;
			cursor: pointer;
			.widthholder {
				width: 80px;
				overflow: hidden;
			}
			&:hover {
				color: $white;
			}
		}
		.menu1_text {
			width: 80px;
			float: left;
			position: relative;
		}
		.menu1_sub {
			display: block;
			float: left;
			line-height: 40px;
			text-align: center;
			overflow: hidden;
			background: rgba($kmla-menu-color, 0.8);
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		.slidedown_holder {
			position: relative;
			z-index: 5;
		}
		.slidedown_button {
			color: $white_80;
			cursor: pointer;
			font-size: 24px;
			padding: 6px;
			background: transparent;
			&:hover {
				color: $white;
			}
		}
		.slidedown_button_pressed {
			color: $black;
			background-color: $white;
			&:hover {
				color: $black;
			}
		}
		.slidedown {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			position: absolute;
			z-index: 2;
			right: 0;
			top: 40px;
			width: 280px;
			box-shadow: 0 4px 10px -4px $gray;
			background: $white;
			display: none;
		}
		.menu2 {
			color: $white_80;
			text-decoration: none;
			&:hover {
				color: $white;
			}
		}
		a.menu2 {
			display: block;
			float: left;
			width: 80px;
			height: 40px;
			z-index: 999999;
			text-align: center;
			line-height: 40px;
		}
	}
	&#below-header-menu {
		top: 40px;
		position: relative;
	}
	&#total-header {
		height: 160px;
		background: $big-logo-url no-repeat;
		#back-to-main {
            display: block;
            height: 100%;
		}
	}
	&#total-content {
		clear: both;
	}
	&#total-footer {
		clear: both;
		text-align: center;
		position: relative;
		top: 40px;
	}
	&.tab_global_wrap {
		margin: 12px;
		padding: 8px;
		background: $very-light-gray;
		display: block;
		position: relative;
	}
	&.what_to_do {
		position: absolute;
		bottom: 8px;
		left: 8px;
		width: 150px;
	}
	&.tab_menu {
		display: block;
		float: left;
		width: 160px;
		ul {
			width: 100%;
			margin-left: 0;
			padding-left: 0;
			list-style: none outside none;
			li {
				margin: 0;
				padding: 0;
				border: 0;
				a {
					display: block;
					padding: 7px;
					background: $very-very-light-gray;
					color: $black;
					&.tab_menu_selected {
						background: $white;
						font-weight: bold;
					}
					&:hover {
						background: $light-gray;
					}
				}
			}
		}
	}

	&.tab_wrap {
		margin-left: 160px;
		overflow: hidden;
	}
	&.tab_menu_items {
		display: none;
		background: $white;
		padding: 5px;
	}
	&.changeinfo_information {
		margin-top: 5px;
		padding: 3px;
		background: $cream-color;
		border: 1px solid $gray;
	}
	&.ajax-holder {
		display: none;
	}
	&.total-header-extend-1 {
		background: $dasan-extend-url $kmla-header-extend-color repeat-x center bottom;
	}
    /*
	&.total-header-extend-2 {
		background: $dasan-url no-repeat center bottom;
	}
    */
	&.total-header-menu-extend {
		background: $kmla-menu-color;
	}
	&#upper-header-holder {
		cursor: pointer;
	}
	&.hide-on-upper-panel {
		z-index: 3;
		position: fixed;
	}
	&.food {
		float: left;
		width: 33.33333%;
	}
	&.food-header {
        font-size: 1.1em;
        margin-bottom: 3px;
	}
    &.menu-userarea {
        display: none;
    }
    &.menu-userarea, &.userarea {
        position: absolute;
        right: 0;
        z-index: 9;
        width: 222px;
        height: 130px;
        box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.2);
        padding: 3px;
        float: right;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background: $kmla-menu-color;
        color: $white;
        a {
            color: $kmla-profile-nav-color;
            font-weight: normal;
        }
        .login_input {
            width: 95%;
        }
        #status_message {
            @extend %extend_4;
            padding-top: 7px;
            padding-left: 2px;
            width: 221px;
            text-align: center;
            color: $white;
        }
        #status_message_edit {
            @extend %extend_4;
            border: 1px solid $gray;
            padding-left: 2px;
            width: 218px;
            color: $black;
        }
    }
    &.notification_more {
        text-align: center;
        padding: 5px;
        background: #f2f2f2;
        border-radius: 0 0 5px 5px;
        &:hover {
            background: #eee;
        }
    }
	&.weather {
		text-align: center;
	}
	&.weather-temp {
		font-size: 22pt;
		margin: 10px 0;
	}
	&.weather-name {
		font-size: 16pt;
		margin: 6px 0;
	}
	&.weather-copyright {
		bottom: 0;
		position: absolute;
		font-size: 8pt;
		width: 100%;
		margin: 0 -10px;
	}
	&.everyday-links {
		float: right;
	}
	&.article-list-item {
		position: absolute;
		width: 100%;
		white-space: nowrap;
        a {
            &:hover, &:focus {
                text-decoration: none;
            }
        }
	}
    &.article-list-title {
		text-overflow: ellipsis;
		overflow: hidden;
        display: inline-block;
        max-width: calc(100% - 24px);
        &.has-comments {
            max-width: calc(100% - 24px);
        }
        &.has-votes {
            max-width: calc(100% - 40px);
        }
        &.has-both {
            max-width: calc(100% - 70px);
        }
        &.has-none {
            max-width: 100%;
        }
        vertical-align: bottom;
    }
	&.minjok-news {
		overflow: hidden;
		margin-bottom: 0;
		white-space: nowrap;
		line-height: 2em;
	}
}
.__hide_contents_link_change {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	background: $white;
}
.userarea-image {
	width: 80px;
	height: 80px;
	margin-left: 20px;
	margin-top: 10px;
}
.contact-finder {
	#contact_list tbody {
		td {
			padding: 3px;
			text-align: center;
		}
		tr:hover {
			background: $extremely-light-gray;
		}
	}
	a.wavebutton {
		display: inline-block;
		padding: 5px;
		color: $black;
		background: $white;
		&:hover {
			background: $kmla-wave-button-hover-color;
		}
	}
}

.upper-file {
	display: inline-block;
	margin: 0;
	padding: 3px 16px;
	text-align: center;
	position: relative;
	overflow: hidden;
	input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		border: solid transparent;
		border-width: 0 0 100px 200px;
		opacity: 0;
		direction: ltr;
		cursor: default;
	}
}

select {
	margin: 6px 0;
}

#total-content {
	background: $white;
}

#total-footer {
    @include background-image(linear-gradient(white, $kmla-footer-color));
    color: $kmla-menu-color;
	padding: 32px;
}

.main-block {
	display: block;
	height: 100%;
	box-sizing: border-box;
}

.main-block-title {
	font-size: 15pt;
	font-weight: bold;
	height: 42px;
	padding: 9px;
	text-align: left;
	white-space: nowrap;
}

.main-block-title-content {
	overflow: hidden;
    a::after {
        margin-left: 6px;
        font-family: FontAwesome;
        content: "\f061";
        -webkit-transform: translateX(-6px);
        -moz-transform: translateX(-6px);
        transform: translateX(-6px);
        display: inline-block;
        opacity: 0;
        -webkit-transition: -webkit-transform 0.24s, opacity 0.18s;
        -moz-transition: -moz-transform 0.24s, opacity 0.18s;
        transition: transform 0.24s, opacity 0.18s;
    }
    a:hover::after,
    a:focus::after {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.main-block-body {
	padding: 10px;
	height: calc(100% - 42px);
	overflow: auto;
}

.main-block-options-pane {
	display: none;
}

.main-block-button-group {
	float: right;
}

.main-block-button {
	margin: 0;
	padding: 0;
	border-radius: 12px;
	width: 28px;
	height: 24px;
	font-size: 11pt;
}

.main-block-hidden {
	width: 0;
	border-width: 0;
	opacity: 0;
	display: none;
}

.main-block-close {
	color: $brand-danger;
	&:hover {
		color: $brand-danger;
	}
	&:active {
		color: $brand-danger;
	}
}

.main-block-reload {
	color: $brand-success;
	&:hover {
		color: $brand-success;
	}
	&:active {
		color: $brand-success;
	}
}

.main-block-options {
	color: $brand-primary;
	&:hover {
	   color: $brand-primary;
	}
	&:active {
	   color: $brand-primary;
	}
}

.userinfo_border {
	border: 1px solid $very-very-light-gray;
}

#profile_nav {
	font-weight: bold;
	color: $kmla-profile-nav-color;
}

#nav_everyday {
	color: $gray;
}

#login_title {
	margin-bottom: 20px;
}

#menu_img {
	padding-left: 10px;
	width: 40px;
}

#downform_login {
	z-index: 999999999999;
	position: relative;
	left: calc(50% - 130px);
	width: 280px;
}

ul#top_notification_list {
	display: block;
	width: 100%;
	max-height: 240px;
	overflow: auto;
	li {
		display: block;
		&.new {
			background: $kmla-notification-new-color;
		}
		&:hover {
			background: $kmla-notification-hover-color;
		}
		a {
			height: 100%;
			color: $black;
			display: block;
			padding: 10px;
            border-bottom: 1px solid #ddd;
            text-decoration: none!important;
		}
	}
}
.grid-stack .grid-stack-item {
	.grid-stack-item-content {
		@extend %extend_7;
	}
	.placeholder-content {
		@extend %extend_7;
	}
}

.btn {
    transition: background 0.1s;
}

.btn-group .bootstrap-select {
	&.btn-group[class*="col-"] {
		@extend %extend_8;
	}
	&.btn-group:not(.input-group-btn) {
		@extend %extend_8;
	}
}

.btn-gradient {
    text-shadow: 0 1px 0 #fff;
    background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
}
.btn-gradient:hover,
.btn-gradient:focus {
    background-color: #e0e0e0;
    background-position: 0 -15px;
}
.btn-gradient:active,
.btn-gradient.active {
    background-color: #e0e0e0;
    border-color: #dbdbdb;
}

.btn-flat {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-flat:focus,
.btn-flat.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.btn-flat:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-flat:active,
.btn-flat.active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-flat:active:hover,
.btn-flat.active:hover,
.btn-flat:active:focus,
.btn-flat.active:focus,
.btn-flat:active.focus,
.btn-flat.active.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.comment-num {
    color: $brand-success;
    border: 1px solid $brand-success;
    border-radius: 2px;
    padding: 1px 4px;
    display: inline-block;
    width: 26px;
    text-align: center;
    line-height: 0.99;
    font-size: 0.9em;
}

.positive-vote-num {
    color: $brand-info;
    border: 1px solid $brand-info;
    border-radius: 2px;
    padding: 1px 4px;
    display: inline-block;
    text-align: center;
    line-height: 0.99;
    font-size: 0.9em;
}

.negative-vote-num {
    color: $brand-danger;
    border: 1px solid $brand-danger;
    border-radius: 2px;
    padding: 1px 4px;
    display: inline-block;
    text-align: center;
    line-height: 0.99;
    font-size: 0.9em;
}

.court-face {
    text-align: center;
    font-size: 40pt;
    font-weight: bold;
    margin: 10px;
    margin-top: 2px;
    height: 50px;
    &.guilty {
        color: $brand-danger;
    }
    &.innocent {
        color: $brand-success;
    }
}

.court-text {
    text-align: center;
    font-size: 13pt;
}

span.court-location {
    font-weight: bold;
    display: block;
    font-size: 16pt;
    margin: 5px;
    &.dasan {
        color: $brand-success;
    }
    &.gym {
        color: $brand-danger;
    }
}

ul.food-chart {
    margin: 0;
    padding: 0 10px 6px 10px;
    display: none;

    li.food-chart-item {
        height: 12px;
        list-style-type: none;
        padding: 0;
        margin: auto;
        border-left: #ccc 1px solid;
    }

    li.food-0 {
        background-color: $food-0;
    }

    li.food-1 {
        background-color: $food-1;
    }

    li.food-2 {
        background-color: $food-2;
    }

    li.food-3 {
        background-color: $food-3;
    }

    li.food-4 {
        background-color: $food-4;
    }

    li.food-5 {
        background-color: $food-5;
    }
}
