body {
    font-family: Helvetica;
}

h1 {
    text-align:center;
}

.hidden {
    display:none;
}

.button {
    padding: 10px;
    background-color: #ddd;
    border: solid 1px #666;
    font-weight: bold;
}

.button:hover {
    background-color: #ddf;
}

#toolbar {
    text-align:center;
    margin-bottom: 15px;
}

#chat-area {
    float:left;
    width:600px;
    height:300px;
}

.chat-message {
    height:180px;
    border-bottom: solid 2px #ddd;
    overflow: auto;
}

#chat-area input {
    margin-top: 10px;
    width: 95%;
}

#roster-area {
    float: right;
    border-left: 10px;
    padding: 10px;
    width: 250px;
    height: 30px;
}

.chat-name {
    color: #c33;
}

.chat-message .me {
    color: #33c;
}

.chat-event {
    font-style: italic;
    font-size: 75%;
}

.roster-contact {
    padding: 3px;
}

.roster-contact:hover {
    background-color: #aaa;
    color: white;
}

.roster-name {
    font-size: 150%;
}

.online {
    color: #3c3;
}

.away {
    color: #c33;
}

.offline {
    color: #ccc;
}