<div class="row" ng-controller="bbqCtrl" ng-init="init()">
    <h3 class="panel-header">요청받은 바베큐 목록<span class="label label-info">{{bbqRequestedList.length}}</span></h3>
    <table class="table">
        <thead>
            <tr>
                <th style="width: 5%;">#</th>
                <th style="width: 25%; text-align: center">종류</th>
                <th style="width: 15%; text-align: center">대표 학생</th>
                <th style="width: 10%; text-align: center">인원</th>
                <th style="width: 25%; text-align: center">날짜</th>
                <th style="width: 20%; text-align">선택</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in bbqRequestedList">
                <td style="text-align: center; vertical-align: middle">{{$index + 1}}</td>
                <td style="text-align: center; vertical-align: middle">{{item.title}}</td>
                <td style="text-align: center; vertical-align: middle">{{item.rep_student}}</td>
                <td style="text-align: center; vertical-align: middle">{{item.student_list.split("|").length}}</td>
                <td style="text-align: center; vertical-align: middle">{{item.date}}</td>
                <td style="text-align: center; vertical-align: middle">
                    <button class="btn btn-success" type="button" ng-click="accept($index)">수락</button>
                    <button class="btn btn-warning" type="button" ng-click="decline($index)">거절</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="container-fluid">
        <div class="col-xs-5">
            <table id="calender" class="table table-bordered">
                <thead>
                    <tr>
                        <th>일</th>
                        <th>월</th>
                        <th>화</th>
                        <th>수</th>
                        <th>목</th>
                        <th>금</th>
                        <th>토</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="week in calender">
                        <td ng-repeat="day in week track by $index">
                            <div>
                                <span>{{day || ""}}</span>
                                <div style="clear:both"></div>
                            </div>
                            <div style="width:100%; padding: 3px; text-align:center;">
                                {{day !== 'undefined' ? "-" : ""}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-7">
            <h4>이번 달 예약된 바베큐</h4>
            <table class="table">
                <thead>
                    <tr>
                        <!-- 담당 교사 / 행정실 => 상태 항목 하나로 줄이기 -->
                        <th style="width: 5%;">#</th>
                        <th style="width: 25%; text-align: center">종류</th>
                        <th style="width: 20%; text-align: center">대표 학생</th>
                        <th style="width: 10%; text-align: center">인원</th>
                        <th style="width: 25%; text-align: center">날짜</th>
                        <th style="width: 15%; text-align">행정실</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in bbqAcceptedList">
                        <td style="text-align: center">{{$index + 1}}</td>
                        <td style="text-align: center">{{item.title}}</td>
                        <td style="text-align: center">{{item.rep_student}}</td>
                        <td style="text-align: center">{{item.student_list.split("|").length}}</td>
                        <td style="text-align: center">{{item.date}}</td>
                        <td style="text-align: center">(구현예정)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>