<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Action</th>
            <th>Done</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in todos" ng-class="$odd ? 'odd' : 'even'">
            <td>{{$index + 1}}</td>
            <td ng-repeat="prop in item">{{prop}}</td>
        </tr>
    </tbody>
</table>