@charset utf-8;
h1,h2,h3,h4,h5,h6,th,strong,b{font-weight:bold}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
pre, p{ margin:0; padding:0 }

/*
#QLVXRYZ{
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

#AAKRTWO{
	-moz-transform: rotate(1deg);
	-webkit-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	transform: rotate(1deg);
}

#XHHVVFY{
	-moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
}

#MFIPDTE{
	-moz-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

#KXPDGYR{
	-moz-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	transform: rotate(4deg);
}

#JPWPZEZ{
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	transform: rotate(5deg);
}

#PWIVNAU{
	-moz-transform: rotate(6deg);
	-webkit-transform: rotate(6deg);
	-ms-transform: rotate(6deg);
	-o-transform: rotate(6deg);
	transform: rotate(6deg);
}

#XERDIQN{
	-moz-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	transform: rotate(7deg);
}

#OBNJVYY{
	-moz-transform: rotate(8deg);
	-webkit-transform: rotate(8deg);
	-ms-transform: rotate(8deg);
	-o-transform: rotate(8deg);
	transform: rotate(8deg);
}

#THPPKRT{
	-moz-transform: rotate(9deg);
	-webkit-transform: rotate(9deg);
	-ms-transform: rotate(9deg);
	-o-transform: rotate(9deg);
	transform: rotate(9deg);
}

#OQLEJZF{
	-moz-transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
}

#LMUFQWT{
	-moz-transform: rotate(11deg);
	-webkit-transform: rotate(11deg);
	-ms-transform: rotate(11deg);
	-o-transform: rotate(11deg);
	transform: rotate(11deg);
}

#YNLGHFC{
	-moz-transform: rotate(12deg);
	-webkit-transform: rotate(12deg);
	-ms-transform: rotate(12deg);
	-o-transform: rotate(12deg);
	transform: rotate(12deg);
}

#DAQUMVY{
	-moz-transform: rotate(13deg);
	-webkit-transform: rotate(13deg);
	-ms-transform: rotate(13deg);
	-o-transform: rotate(13deg);
	transform: rotate(13deg);
}

#ZQRSHHV{
	-moz-transform: rotate(14deg);
	-webkit-transform: rotate(14deg);
	-ms-transform: rotate(14deg);
	-o-transform: rotate(14deg);
	transform: rotate(14deg);
}

#TKWLXNX{
	-moz-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	transform: rotate(15deg);
}

#YRJKUGD{
	-moz-transform: rotate(16deg);
	-webkit-transform: rotate(16deg);
	-ms-transform: rotate(16deg);
	-o-transform: rotate(16deg);
	transform: rotate(16deg);
}

#OLJCGRF{
	-moz-transform: rotate(17deg);
	-webkit-transform: rotate(17deg);
	-ms-transform: rotate(17deg);
	-o-transform: rotate(17deg);
	transform: rotate(17deg);
}

#KWBITAZ{
	-moz-transform: rotate(18deg);
	-webkit-transform: rotate(18deg);
	-ms-transform: rotate(18deg);
	-o-transform: rotate(18deg);
	transform: rotate(18deg);
}

#MRDQVCE{
	-moz-transform: rotate(19deg);
	-webkit-transform: rotate(19deg);
	-ms-transform: rotate(19deg);
	-o-transform: rotate(19deg);
	transform: rotate(19deg);
}

#RBQVDLI{
	-moz-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	transform: rotate(20deg);
}

#BEIYYCU{
	-moz-transform: rotate(21deg);
	-webkit-transform: rotate(21deg);
	-ms-transform: rotate(21deg);
	-o-transform: rotate(21deg);
	transform: rotate(21deg);
}

#PLJQMMS{
	-moz-transform: rotate(22deg);
	-webkit-transform: rotate(22deg);
	-ms-transform: rotate(22deg);
	-o-transform: rotate(22deg);
	transform: rotate(22deg);
}

#SMHLULX{
	-moz-transform: rotate(23deg);
	-webkit-transform: rotate(23deg);
	-ms-transform: rotate(23deg);
	-o-transform: rotate(23deg);
	transform: rotate(23deg);
}

#XRYYQHT{
	-moz-transform: rotate(24deg);
	-webkit-transform: rotate(24deg);
	-ms-transform: rotate(24deg);
	-o-transform: rotate(24deg);
	transform: rotate(24deg);
}

#TSSNXLI{
	-moz-transform: rotate(25deg);
	-webkit-transform: rotate(25deg);
	-ms-transform: rotate(25deg);
	-o-transform: rotate(25deg);
	transform: rotate(25deg);
}

#HVKNXNL{
	-moz-transform: rotate(26deg);
	-webkit-transform: rotate(26deg);
	-ms-transform: rotate(26deg);
	-o-transform: rotate(26deg);
	transform: rotate(26deg);
}

#HWQUFJK{
	-moz-transform: rotate(27deg);
	-webkit-transform: rotate(27deg);
	-ms-transform: rotate(27deg);
	-o-transform: rotate(27deg);
	transform: rotate(27deg);
}

#OKLTYKO{
	-moz-transform: rotate(28deg);
	-webkit-transform: rotate(28deg);
	-ms-transform: rotate(28deg);
	-o-transform: rotate(28deg);
	transform: rotate(28deg);
}

#YNSFGCR{
	-moz-transform: rotate(29deg);
	-webkit-transform: rotate(29deg);
	-ms-transform: rotate(29deg);
	-o-transform: rotate(29deg);
	transform: rotate(29deg);
}

#GSXYBCW{
	-moz-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}

#SJSJCHJ{
	-moz-transform: rotate(31deg);
	-webkit-transform: rotate(31deg);
	-ms-transform: rotate(31deg);
	-o-transform: rotate(31deg);
	transform: rotate(31deg);
}

#MFTVQRS{
	-moz-transform: rotate(32deg);
	-webkit-transform: rotate(32deg);
	-ms-transform: rotate(32deg);
	-o-transform: rotate(32deg);
	transform: rotate(32deg);
}

#GYFXKEA{
	-moz-transform: rotate(33deg);
	-webkit-transform: rotate(33deg);
	-ms-transform: rotate(33deg);
	-o-transform: rotate(33deg);
	transform: rotate(33deg);
}

#FJECUBB{
	-moz-transform: rotate(34deg);
	-webkit-transform: rotate(34deg);
	-ms-transform: rotate(34deg);
	-o-transform: rotate(34deg);
	transform: rotate(34deg);
}

#UMBOPDI{
	-moz-transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
	-ms-transform: rotate(35deg);
	-o-transform: rotate(35deg);
	transform: rotate(35deg);
}

#BWJBJDH{
	-moz-transform: rotate(36deg);
	-webkit-transform: rotate(36deg);
	-ms-transform: rotate(36deg);
	-o-transform: rotate(36deg);
	transform: rotate(36deg);
}

#KONSJPO{
	-moz-transform: rotate(37deg);
	-webkit-transform: rotate(37deg);
	-ms-transform: rotate(37deg);
	-o-transform: rotate(37deg);
	transform: rotate(37deg);
}

#VNZFXNH{
	-moz-transform: rotate(38deg);
	-webkit-transform: rotate(38deg);
	-ms-transform: rotate(38deg);
	-o-transform: rotate(38deg);
	transform: rotate(38deg);
}

#KXVSZVY{
	-moz-transform: rotate(39deg);
	-webkit-transform: rotate(39deg);
	-ms-transform: rotate(39deg);
	-o-transform: rotate(39deg);
	transform: rotate(39deg);
}

#LUYKVQN{
	-moz-transform: rotate(40deg);
	-webkit-transform: rotate(40deg);
	-ms-transform: rotate(40deg);
	-o-transform: rotate(40deg);
	transform: rotate(40deg);
}

#PMHBZOQ{
	-moz-transform: rotate(41deg);
	-webkit-transform: rotate(41deg);
	-ms-transform: rotate(41deg);
	-o-transform: rotate(41deg);
	transform: rotate(41deg);
}

#BRIDHGM{
	-moz-transform: rotate(42deg);
	-webkit-transform: rotate(42deg);
	-ms-transform: rotate(42deg);
	-o-transform: rotate(42deg);
	transform: rotate(42deg);
}

#PGPQKIH{
	-moz-transform: rotate(43deg);
	-webkit-transform: rotate(43deg);
	-ms-transform: rotate(43deg);
	-o-transform: rotate(43deg);
	transform: rotate(43deg);
}

#FMNWUCP{
	-moz-transform: rotate(44deg);
	-webkit-transform: rotate(44deg);
	-ms-transform: rotate(44deg);
	-o-transform: rotate(44deg);
	transform: rotate(44deg);
}

#TPYVBXP{
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#CKVOXFL{
	-moz-transform: rotate(46deg);
	-webkit-transform: rotate(46deg);
	-ms-transform: rotate(46deg);
	-o-transform: rotate(46deg);
	transform: rotate(46deg);
}

#URTMHLP{
	-moz-transform: rotate(47deg);
	-webkit-transform: rotate(47deg);
	-ms-transform: rotate(47deg);
	-o-transform: rotate(47deg);
	transform: rotate(47deg);
}

#BXSLOOJ{
	-moz-transform: rotate(48deg);
	-webkit-transform: rotate(48deg);
	-ms-transform: rotate(48deg);
	-o-transform: rotate(48deg);
	transform: rotate(48deg);
}

#RZHJBSF{
	-moz-transform: rotate(49deg);
	-webkit-transform: rotate(49deg);
	-ms-transform: rotate(49deg);
	-o-transform: rotate(49deg);
	transform: rotate(49deg);
}

#AHUDITF{
	-moz-transform: rotate(50deg);
	-webkit-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	-o-transform: rotate(50deg);
	transform: rotate(50deg);
}

#GGSWQOL{
	-moz-transform: rotate(51deg);
	-webkit-transform: rotate(51deg);
	-ms-transform: rotate(51deg);
	-o-transform: rotate(51deg);
	transform: rotate(51deg);
}

#QZKKXRB{
	-moz-transform: rotate(52deg);
	-webkit-transform: rotate(52deg);
	-ms-transform: rotate(52deg);
	-o-transform: rotate(52deg);
	transform: rotate(52deg);
}

#UPJDNTY{
	-moz-transform: rotate(53deg);
	-webkit-transform: rotate(53deg);
	-ms-transform: rotate(53deg);
	-o-transform: rotate(53deg);
	transform: rotate(53deg);
}

#UOXIBMR{
	-moz-transform: rotate(54deg);
	-webkit-transform: rotate(54deg);
	-ms-transform: rotate(54deg);
	-o-transform: rotate(54deg);
	transform: rotate(54deg);
}

#MIAIZCV{
	-moz-transform: rotate(55deg);
	-webkit-transform: rotate(55deg);
	-ms-transform: rotate(55deg);
	-o-transform: rotate(55deg);
	transform: rotate(55deg);
}

#FTMMFWL{
	-moz-transform: rotate(56deg);
	-webkit-transform: rotate(56deg);
	-ms-transform: rotate(56deg);
	-o-transform: rotate(56deg);
	transform: rotate(56deg);
}

#YBZWWGA{
	-moz-transform: rotate(57deg);
	-webkit-transform: rotate(57deg);
	-ms-transform: rotate(57deg);
	-o-transform: rotate(57deg);
	transform: rotate(57deg);
}

#LVKYYCD{
	-moz-transform: rotate(58deg);
	-webkit-transform: rotate(58deg);
	-ms-transform: rotate(58deg);
	-o-transform: rotate(58deg);
	transform: rotate(58deg);
}

#FFJTPIT{
	-moz-transform: rotate(59deg);
	-webkit-transform: rotate(59deg);
	-ms-transform: rotate(59deg);
	-o-transform: rotate(59deg);
	transform: rotate(59deg);
}

#FPIPBPF{
	-moz-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg);
}

#FZMAPAA{
	-moz-transform: rotate(61deg);
	-webkit-transform: rotate(61deg);
	-ms-transform: rotate(61deg);
	-o-transform: rotate(61deg);
	transform: rotate(61deg);
}

#ZQVKZUN{
	-moz-transform: rotate(62deg);
	-webkit-transform: rotate(62deg);
	-ms-transform: rotate(62deg);
	-o-transform: rotate(62deg);
	transform: rotate(62deg);
}

#OMQSOLR{
	-moz-transform: rotate(63deg);
	-webkit-transform: rotate(63deg);
	-ms-transform: rotate(63deg);
	-o-transform: rotate(63deg);
	transform: rotate(63deg);
}

#AGHITVX{
	-moz-transform: rotate(64deg);
	-webkit-transform: rotate(64deg);
	-ms-transform: rotate(64deg);
	-o-transform: rotate(64deg);
	transform: rotate(64deg);
}

#YZJVGRS{
	-moz-transform: rotate(65deg);
	-webkit-transform: rotate(65deg);
	-ms-transform: rotate(65deg);
	-o-transform: rotate(65deg);
	transform: rotate(65deg);
}

#EIEQCFR{
	-moz-transform: rotate(66deg);
	-webkit-transform: rotate(66deg);
	-ms-transform: rotate(66deg);
	-o-transform: rotate(66deg);
	transform: rotate(66deg);
}

#NLUTISE{
	-moz-transform: rotate(67deg);
	-webkit-transform: rotate(67deg);
	-ms-transform: rotate(67deg);
	-o-transform: rotate(67deg);
	transform: rotate(67deg);
}

#XZKJGWE{
	-moz-transform: rotate(68deg);
	-webkit-transform: rotate(68deg);
	-ms-transform: rotate(68deg);
	-o-transform: rotate(68deg);
	transform: rotate(68deg);
}

#GOJTUXG{
	-moz-transform: rotate(69deg);
	-webkit-transform: rotate(69deg);
	-ms-transform: rotate(69deg);
	-o-transform: rotate(69deg);
	transform: rotate(69deg);
}

#OICRCLD{
	-moz-transform: rotate(70deg);
	-webkit-transform: rotate(70deg);
	-ms-transform: rotate(70deg);
	-o-transform: rotate(70deg);
	transform: rotate(70deg);
}

#FWQOBQH{
	-moz-transform: rotate(71deg);
	-webkit-transform: rotate(71deg);
	-ms-transform: rotate(71deg);
	-o-transform: rotate(71deg);
	transform: rotate(71deg);
}

#ZGHZAVE{
	-moz-transform: rotate(72deg);
	-webkit-transform: rotate(72deg);
	-ms-transform: rotate(72deg);
	-o-transform: rotate(72deg);
	transform: rotate(72deg);
}

#KJFWNDI{
	-moz-transform: rotate(73deg);
	-webkit-transform: rotate(73deg);
	-ms-transform: rotate(73deg);
	-o-transform: rotate(73deg);
	transform: rotate(73deg);
}

#LRNNIKO{
	-moz-transform: rotate(74deg);
	-webkit-transform: rotate(74deg);
	-ms-transform: rotate(74deg);
	-o-transform: rotate(74deg);
	transform: rotate(74deg);
}

#ALCPJFJ{
	-moz-transform: rotate(75deg);
	-webkit-transform: rotate(75deg);
	-ms-transform: rotate(75deg);
	-o-transform: rotate(75deg);
	transform: rotate(75deg);
}

#EPCLXLZ{
	-moz-transform: rotate(76deg);
	-webkit-transform: rotate(76deg);
	-ms-transform: rotate(76deg);
	-o-transform: rotate(76deg);
	transform: rotate(76deg);
}

#HYZVADH{
	-moz-transform: rotate(77deg);
	-webkit-transform: rotate(77deg);
	-ms-transform: rotate(77deg);
	-o-transform: rotate(77deg);
	transform: rotate(77deg);
}

#TIJIGIW{
	-moz-transform: rotate(78deg);
	-webkit-transform: rotate(78deg);
	-ms-transform: rotate(78deg);
	-o-transform: rotate(78deg);
	transform: rotate(78deg);
}

#LUULUXP{
	-moz-transform: rotate(79deg);
	-webkit-transform: rotate(79deg);
	-ms-transform: rotate(79deg);
	-o-transform: rotate(79deg);
	transform: rotate(79deg);
}

#LKBJJOK{
	-moz-transform: rotate(80deg);
	-webkit-transform: rotate(80deg);
	-ms-transform: rotate(80deg);
	-o-transform: rotate(80deg);
	transform: rotate(80deg);
}

#CTLWDXJ{
	-moz-transform: rotate(81deg);
	-webkit-transform: rotate(81deg);
	-ms-transform: rotate(81deg);
	-o-transform: rotate(81deg);
	transform: rotate(81deg);
}

#VASHNGH{
	-moz-transform: rotate(82deg);
	-webkit-transform: rotate(82deg);
	-ms-transform: rotate(82deg);
	-o-transform: rotate(82deg);
	transform: rotate(82deg);
}

#BIJHWDG{
	-moz-transform: rotate(83deg);
	-webkit-transform: rotate(83deg);
	-ms-transform: rotate(83deg);
	-o-transform: rotate(83deg);
	transform: rotate(83deg);
}

#MEAHIPX{
	-moz-transform: rotate(84deg);
	-webkit-transform: rotate(84deg);
	-ms-transform: rotate(84deg);
	-o-transform: rotate(84deg);
	transform: rotate(84deg);
}

#IABHMOF{
	-moz-transform: rotate(85deg);
	-webkit-transform: rotate(85deg);
	-ms-transform: rotate(85deg);
	-o-transform: rotate(85deg);
	transform: rotate(85deg);
}

#DPPENEJ{
	-moz-transform: rotate(86deg);
	-webkit-transform: rotate(86deg);
	-ms-transform: rotate(86deg);
	-o-transform: rotate(86deg);
	transform: rotate(86deg);
}

#RLTLSUV{
	-moz-transform: rotate(87deg);
	-webkit-transform: rotate(87deg);
	-ms-transform: rotate(87deg);
	-o-transform: rotate(87deg);
	transform: rotate(87deg);
}

#LIYRUVP{
	-moz-transform: rotate(88deg);
	-webkit-transform: rotate(88deg);
	-ms-transform: rotate(88deg);
	-o-transform: rotate(88deg);
	transform: rotate(88deg);
}

#SRUPFHL{
	-moz-transform: rotate(89deg);
	-webkit-transform: rotate(89deg);
	-ms-transform: rotate(89deg);
	-o-transform: rotate(89deg);
	transform: rotate(89deg);
}

#RLJRHAR{
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

#LDYFWCG{
	-moz-transform: rotate(91deg);
	-webkit-transform: rotate(91deg);
	-ms-transform: rotate(91deg);
	-o-transform: rotate(91deg);
	transform: rotate(91deg);
}

#SZNYEBG{
	-moz-transform: rotate(92deg);
	-webkit-transform: rotate(92deg);
	-ms-transform: rotate(92deg);
	-o-transform: rotate(92deg);
	transform: rotate(92deg);
}

#BXQRCIZ{
	-moz-transform: rotate(93deg);
	-webkit-transform: rotate(93deg);
	-ms-transform: rotate(93deg);
	-o-transform: rotate(93deg);
	transform: rotate(93deg);
}

#KTJESIH{
	-moz-transform: rotate(94deg);
	-webkit-transform: rotate(94deg);
	-ms-transform: rotate(94deg);
	-o-transform: rotate(94deg);
	transform: rotate(94deg);
}

#ZQVCGZQ{
	-moz-transform: rotate(95deg);
	-webkit-transform: rotate(95deg);
	-ms-transform: rotate(95deg);
	-o-transform: rotate(95deg);
	transform: rotate(95deg);
}

#MUIDMCV{
	-moz-transform: rotate(96deg);
	-webkit-transform: rotate(96deg);
	-ms-transform: rotate(96deg);
	-o-transform: rotate(96deg);
	transform: rotate(96deg);
}

#MPUMMKK{
	-moz-transform: rotate(97deg);
	-webkit-transform: rotate(97deg);
	-ms-transform: rotate(97deg);
	-o-transform: rotate(97deg);
	transform: rotate(97deg);
}

#WBLYUGR{
	-moz-transform: rotate(98deg);
	-webkit-transform: rotate(98deg);
	-ms-transform: rotate(98deg);
	-o-transform: rotate(98deg);
	transform: rotate(98deg);
}

#SEPDGMI{
	-moz-transform: rotate(99deg);
	-webkit-transform: rotate(99deg);
	-ms-transform: rotate(99deg);
	-o-transform: rotate(99deg);
	transform: rotate(99deg);
}

#OTCAOVL{
	-moz-transform: rotate(100deg);
	-webkit-transform: rotate(100deg);
	-ms-transform: rotate(100deg);
	-o-transform: rotate(100deg);
	transform: rotate(100deg);
}

#DZQSEZI{
	-moz-transform: rotate(101deg);
	-webkit-transform: rotate(101deg);
	-ms-transform: rotate(101deg);
	-o-transform: rotate(101deg);
	transform: rotate(101deg);
}

#OWKAKHI{
	-moz-transform: rotate(102deg);
	-webkit-transform: rotate(102deg);
	-ms-transform: rotate(102deg);
	-o-transform: rotate(102deg);
	transform: rotate(102deg);
}

#FWYHDNO{
	-moz-transform: rotate(103deg);
	-webkit-transform: rotate(103deg);
	-ms-transform: rotate(103deg);
	-o-transform: rotate(103deg);
	transform: rotate(103deg);
}

#SMRRRJI{
	-moz-transform: rotate(104deg);
	-webkit-transform: rotate(104deg);
	-ms-transform: rotate(104deg);
	-o-transform: rotate(104deg);
	transform: rotate(104deg);
}

#UUCJHOP{
	-moz-transform: rotate(105deg);
	-webkit-transform: rotate(105deg);
	-ms-transform: rotate(105deg);
	-o-transform: rotate(105deg);
	transform: rotate(105deg);
}

#YEZUCXB{
	-moz-transform: rotate(106deg);
	-webkit-transform: rotate(106deg);
	-ms-transform: rotate(106deg);
	-o-transform: rotate(106deg);
	transform: rotate(106deg);
}

#HRWPMHE{
	-moz-transform: rotate(107deg);
	-webkit-transform: rotate(107deg);
	-ms-transform: rotate(107deg);
	-o-transform: rotate(107deg);
	transform: rotate(107deg);
}

#OLPAAGC{
	-moz-transform: rotate(108deg);
	-webkit-transform: rotate(108deg);
	-ms-transform: rotate(108deg);
	-o-transform: rotate(108deg);
	transform: rotate(108deg);
}

#UIZBCYE{
	-moz-transform: rotate(109deg);
	-webkit-transform: rotate(109deg);
	-ms-transform: rotate(109deg);
	-o-transform: rotate(109deg);
	transform: rotate(109deg);
}

#RMXYLVE{
	-moz-transform: rotate(110deg);
	-webkit-transform: rotate(110deg);
	-ms-transform: rotate(110deg);
	-o-transform: rotate(110deg);
	transform: rotate(110deg);
}

#NNUZPUW{
	-moz-transform: rotate(111deg);
	-webkit-transform: rotate(111deg);
	-ms-transform: rotate(111deg);
	-o-transform: rotate(111deg);
	transform: rotate(111deg);
}

#HOBEKFA{
	-moz-transform: rotate(112deg);
	-webkit-transform: rotate(112deg);
	-ms-transform: rotate(112deg);
	-o-transform: rotate(112deg);
	transform: rotate(112deg);
}

#SSQLFTJ{
	-moz-transform: rotate(113deg);
	-webkit-transform: rotate(113deg);
	-ms-transform: rotate(113deg);
	-o-transform: rotate(113deg);
	transform: rotate(113deg);
}

#SGLSNGD{
	-moz-transform: rotate(114deg);
	-webkit-transform: rotate(114deg);
	-ms-transform: rotate(114deg);
	-o-transform: rotate(114deg);
	transform: rotate(114deg);
}

#AJMLRSV{
	-moz-transform: rotate(115deg);
	-webkit-transform: rotate(115deg);
	-ms-transform: rotate(115deg);
	-o-transform: rotate(115deg);
	transform: rotate(115deg);
}

#VARXBZI{
	-moz-transform: rotate(116deg);
	-webkit-transform: rotate(116deg);
	-ms-transform: rotate(116deg);
	-o-transform: rotate(116deg);
	transform: rotate(116deg);
}

#IZUAWLZ{
	-moz-transform: rotate(117deg);
	-webkit-transform: rotate(117deg);
	-ms-transform: rotate(117deg);
	-o-transform: rotate(117deg);
	transform: rotate(117deg);
}

#OKXZTGZ{
	-moz-transform: rotate(118deg);
	-webkit-transform: rotate(118deg);
	-ms-transform: rotate(118deg);
	-o-transform: rotate(118deg);
	transform: rotate(118deg);
}

#VMQAUSV{
	-moz-transform: rotate(119deg);
	-webkit-transform: rotate(119deg);
	-ms-transform: rotate(119deg);
	-o-transform: rotate(119deg);
	transform: rotate(119deg);
}

#DZVUWHS{
	-moz-transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	transform: rotate(120deg);
}

#PCODZNH{
	-moz-transform: rotate(121deg);
	-webkit-transform: rotate(121deg);
	-ms-transform: rotate(121deg);
	-o-transform: rotate(121deg);
	transform: rotate(121deg);
}

#VJIWVLR{
	-moz-transform: rotate(122deg);
	-webkit-transform: rotate(122deg);
	-ms-transform: rotate(122deg);
	-o-transform: rotate(122deg);
	transform: rotate(122deg);
}

#TRSOIQS{
	-moz-transform: rotate(123deg);
	-webkit-transform: rotate(123deg);
	-ms-transform: rotate(123deg);
	-o-transform: rotate(123deg);
	transform: rotate(123deg);
}

#DKRNYDZ{
	-moz-transform: rotate(124deg);
	-webkit-transform: rotate(124deg);
	-ms-transform: rotate(124deg);
	-o-transform: rotate(124deg);
	transform: rotate(124deg);
}

#FPSIWPM{
	-moz-transform: rotate(125deg);
	-webkit-transform: rotate(125deg);
	-ms-transform: rotate(125deg);
	-o-transform: rotate(125deg);
	transform: rotate(125deg);
}

#VITBDLZ{
	-moz-transform: rotate(126deg);
	-webkit-transform: rotate(126deg);
	-ms-transform: rotate(126deg);
	-o-transform: rotate(126deg);
	transform: rotate(126deg);
}

#QYWNHRY{
	-moz-transform: rotate(127deg);
	-webkit-transform: rotate(127deg);
	-ms-transform: rotate(127deg);
	-o-transform: rotate(127deg);
	transform: rotate(127deg);
}

#LKQPWQQ{
	-moz-transform: rotate(128deg);
	-webkit-transform: rotate(128deg);
	-ms-transform: rotate(128deg);
	-o-transform: rotate(128deg);
	transform: rotate(128deg);
}

#LMVLZOD{
	-moz-transform: rotate(129deg);
	-webkit-transform: rotate(129deg);
	-ms-transform: rotate(129deg);
	-o-transform: rotate(129deg);
	transform: rotate(129deg);
}

#JJOINRX{
	-moz-transform: rotate(130deg);
	-webkit-transform: rotate(130deg);
	-ms-transform: rotate(130deg);
	-o-transform: rotate(130deg);
	transform: rotate(130deg);
}

#VCMPAOT{
	-moz-transform: rotate(131deg);
	-webkit-transform: rotate(131deg);
	-ms-transform: rotate(131deg);
	-o-transform: rotate(131deg);
	transform: rotate(131deg);
}

#OGOVIWE{
	-moz-transform: rotate(132deg);
	-webkit-transform: rotate(132deg);
	-ms-transform: rotate(132deg);
	-o-transform: rotate(132deg);
	transform: rotate(132deg);
}

#IGSNPST{
	-moz-transform: rotate(133deg);
	-webkit-transform: rotate(133deg);
	-ms-transform: rotate(133deg);
	-o-transform: rotate(133deg);
	transform: rotate(133deg);
}

#JBLQDSU{
	-moz-transform: rotate(134deg);
	-webkit-transform: rotate(134deg);
	-ms-transform: rotate(134deg);
	-o-transform: rotate(134deg);
	transform: rotate(134deg);
}

#CWOHOWP{
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

#COMCATV{
	-moz-transform: rotate(136deg);
	-webkit-transform: rotate(136deg);
	-ms-transform: rotate(136deg);
	-o-transform: rotate(136deg);
	transform: rotate(136deg);
}

#FLICGUJ{
	-moz-transform: rotate(137deg);
	-webkit-transform: rotate(137deg);
	-ms-transform: rotate(137deg);
	-o-transform: rotate(137deg);
	transform: rotate(137deg);
}

#PNRUWGA{
	-moz-transform: rotate(138deg);
	-webkit-transform: rotate(138deg);
	-ms-transform: rotate(138deg);
	-o-transform: rotate(138deg);
	transform: rotate(138deg);
}

#VRRCHHY{
	-moz-transform: rotate(139deg);
	-webkit-transform: rotate(139deg);
	-ms-transform: rotate(139deg);
	-o-transform: rotate(139deg);
	transform: rotate(139deg);
}

#QPBSGFV{
	-moz-transform: rotate(140deg);
	-webkit-transform: rotate(140deg);
	-ms-transform: rotate(140deg);
	-o-transform: rotate(140deg);
	transform: rotate(140deg);
}

#UTYCZMX{
	-moz-transform: rotate(141deg);
	-webkit-transform: rotate(141deg);
	-ms-transform: rotate(141deg);
	-o-transform: rotate(141deg);
	transform: rotate(141deg);
}

#VAWPXRW{
	-moz-transform: rotate(142deg);
	-webkit-transform: rotate(142deg);
	-ms-transform: rotate(142deg);
	-o-transform: rotate(142deg);
	transform: rotate(142deg);
}

#YWNOIQE{
	-moz-transform: rotate(143deg);
	-webkit-transform: rotate(143deg);
	-ms-transform: rotate(143deg);
	-o-transform: rotate(143deg);
	transform: rotate(143deg);
}

#BAXDGID{
	-moz-transform: rotate(144deg);
	-webkit-transform: rotate(144deg);
	-ms-transform: rotate(144deg);
	-o-transform: rotate(144deg);
	transform: rotate(144deg);
}

#UICTONE{
	-moz-transform: rotate(145deg);
	-webkit-transform: rotate(145deg);
	-ms-transform: rotate(145deg);
	-o-transform: rotate(145deg);
	transform: rotate(145deg);
}

#LWKQXED{
	-moz-transform: rotate(146deg);
	-webkit-transform: rotate(146deg);
	-ms-transform: rotate(146deg);
	-o-transform: rotate(146deg);
	transform: rotate(146deg);
}

#ICDXBBR{
	-moz-transform: rotate(147deg);
	-webkit-transform: rotate(147deg);
	-ms-transform: rotate(147deg);
	-o-transform: rotate(147deg);
	transform: rotate(147deg);
}

#UBXXXID{
	-moz-transform: rotate(148deg);
	-webkit-transform: rotate(148deg);
	-ms-transform: rotate(148deg);
	-o-transform: rotate(148deg);
	transform: rotate(148deg);
}

#OSUBRFT{
	-moz-transform: rotate(149deg);
	-webkit-transform: rotate(149deg);
	-ms-transform: rotate(149deg);
	-o-transform: rotate(149deg);
	transform: rotate(149deg);
}

#LOGCIGS{
	-moz-transform: rotate(150deg);
	-webkit-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	-o-transform: rotate(150deg);
	transform: rotate(150deg);
}

#QFWJAYA{
	-moz-transform: rotate(151deg);
	-webkit-transform: rotate(151deg);
	-ms-transform: rotate(151deg);
	-o-transform: rotate(151deg);
	transform: rotate(151deg);
}

#WNUSIHA{
	-moz-transform: rotate(152deg);
	-webkit-transform: rotate(152deg);
	-ms-transform: rotate(152deg);
	-o-transform: rotate(152deg);
	transform: rotate(152deg);
}

#GITACGX{
	-moz-transform: rotate(153deg);
	-webkit-transform: rotate(153deg);
	-ms-transform: rotate(153deg);
	-o-transform: rotate(153deg);
	transform: rotate(153deg);
}

#QJBCQOZ{
	-moz-transform: rotate(154deg);
	-webkit-transform: rotate(154deg);
	-ms-transform: rotate(154deg);
	-o-transform: rotate(154deg);
	transform: rotate(154deg);
}

#ZGNPUMU{
	-moz-transform: rotate(155deg);
	-webkit-transform: rotate(155deg);
	-ms-transform: rotate(155deg);
	-o-transform: rotate(155deg);
	transform: rotate(155deg);
}

#WBTJALP{
	-moz-transform: rotate(156deg);
	-webkit-transform: rotate(156deg);
	-ms-transform: rotate(156deg);
	-o-transform: rotate(156deg);
	transform: rotate(156deg);
}

#RMDHDJA{
	-moz-transform: rotate(157deg);
	-webkit-transform: rotate(157deg);
	-ms-transform: rotate(157deg);
	-o-transform: rotate(157deg);
	transform: rotate(157deg);
}

#ZWKDWLP{
	-moz-transform: rotate(158deg);
	-webkit-transform: rotate(158deg);
	-ms-transform: rotate(158deg);
	-o-transform: rotate(158deg);
	transform: rotate(158deg);
}

#GBRKOFD{
	-moz-transform: rotate(159deg);
	-webkit-transform: rotate(159deg);
	-ms-transform: rotate(159deg);
	-o-transform: rotate(159deg);
	transform: rotate(159deg);
}

#RLPQFLO{
	-moz-transform: rotate(160deg);
	-webkit-transform: rotate(160deg);
	-ms-transform: rotate(160deg);
	-o-transform: rotate(160deg);
	transform: rotate(160deg);
}

#BUKJUND{
	-moz-transform: rotate(161deg);
	-webkit-transform: rotate(161deg);
	-ms-transform: rotate(161deg);
	-o-transform: rotate(161deg);
	transform: rotate(161deg);
}

#AOFOSTV{
	-moz-transform: rotate(162deg);
	-webkit-transform: rotate(162deg);
	-ms-transform: rotate(162deg);
	-o-transform: rotate(162deg);
	transform: rotate(162deg);
}

#XLPBRWV{
	-moz-transform: rotate(163deg);
	-webkit-transform: rotate(163deg);
	-ms-transform: rotate(163deg);
	-o-transform: rotate(163deg);
	transform: rotate(163deg);
}

#IEMSPDW{
	-moz-transform: rotate(164deg);
	-webkit-transform: rotate(164deg);
	-ms-transform: rotate(164deg);
	-o-transform: rotate(164deg);
	transform: rotate(164deg);
}

#YAFZZFS{
	-moz-transform: rotate(165deg);
	-webkit-transform: rotate(165deg);
	-ms-transform: rotate(165deg);
	-o-transform: rotate(165deg);
	transform: rotate(165deg);
}

#BABAZIR{
	-moz-transform: rotate(166deg);
	-webkit-transform: rotate(166deg);
	-ms-transform: rotate(166deg);
	-o-transform: rotate(166deg);
	transform: rotate(166deg);
}

#JIZQWRV{
	-moz-transform: rotate(167deg);
	-webkit-transform: rotate(167deg);
	-ms-transform: rotate(167deg);
	-o-transform: rotate(167deg);
	transform: rotate(167deg);
}

#FKDIDRE{
	-moz-transform: rotate(168deg);
	-webkit-transform: rotate(168deg);
	-ms-transform: rotate(168deg);
	-o-transform: rotate(168deg);
	transform: rotate(168deg);
}

#YQIOMOT{
	-moz-transform: rotate(169deg);
	-webkit-transform: rotate(169deg);
	-ms-transform: rotate(169deg);
	-o-transform: rotate(169deg);
	transform: rotate(169deg);
}

#NJGGNTX{
	-moz-transform: rotate(170deg);
	-webkit-transform: rotate(170deg);
	-ms-transform: rotate(170deg);
	-o-transform: rotate(170deg);
	transform: rotate(170deg);
}

#CVXSERM{
	-moz-transform: rotate(171deg);
	-webkit-transform: rotate(171deg);
	-ms-transform: rotate(171deg);
	-o-transform: rotate(171deg);
	transform: rotate(171deg);
}

#EEZIGAP{
	-moz-transform: rotate(172deg);
	-webkit-transform: rotate(172deg);
	-ms-transform: rotate(172deg);
	-o-transform: rotate(172deg);
	transform: rotate(172deg);
}

#NJAAMWR{
	-moz-transform: rotate(173deg);
	-webkit-transform: rotate(173deg);
	-ms-transform: rotate(173deg);
	-o-transform: rotate(173deg);
	transform: rotate(173deg);
}

#FHUDESY{
	-moz-transform: rotate(174deg);
	-webkit-transform: rotate(174deg);
	-ms-transform: rotate(174deg);
	-o-transform: rotate(174deg);
	transform: rotate(174deg);
}

#BXOJLRX{
	-moz-transform: rotate(175deg);
	-webkit-transform: rotate(175deg);
	-ms-transform: rotate(175deg);
	-o-transform: rotate(175deg);
	transform: rotate(175deg);
}

#HBLNYXX{
	-moz-transform: rotate(176deg);
	-webkit-transform: rotate(176deg);
	-ms-transform: rotate(176deg);
	-o-transform: rotate(176deg);
	transform: rotate(176deg);
}

#GTNIPHS{
	-moz-transform: rotate(177deg);
	-webkit-transform: rotate(177deg);
	-ms-transform: rotate(177deg);
	-o-transform: rotate(177deg);
	transform: rotate(177deg);
}

#KIMWHAL{
	-moz-transform: rotate(178deg);
	-webkit-transform: rotate(178deg);
	-ms-transform: rotate(178deg);
	-o-transform: rotate(178deg);
	transform: rotate(178deg);
}

#BKXHBMM{
	-moz-transform: rotate(179deg);
	-webkit-transform: rotate(179deg);
	-ms-transform: rotate(179deg);
	-o-transform: rotate(179deg);
	transform: rotate(179deg);
}

#LUFFMXT{
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

#XWWIBKF{
	-moz-transform: rotate(181deg);
	-webkit-transform: rotate(181deg);
	-ms-transform: rotate(181deg);
	-o-transform: rotate(181deg);
	transform: rotate(181deg);
}

#PUZKAVA{
	-moz-transform: rotate(182deg);
	-webkit-transform: rotate(182deg);
	-ms-transform: rotate(182deg);
	-o-transform: rotate(182deg);
	transform: rotate(182deg);
}

#FOKTKMD{
	-moz-transform: rotate(183deg);
	-webkit-transform: rotate(183deg);
	-ms-transform: rotate(183deg);
	-o-transform: rotate(183deg);
	transform: rotate(183deg);
}

#SBBTSXN{
	-moz-transform: rotate(184deg);
	-webkit-transform: rotate(184deg);
	-ms-transform: rotate(184deg);
	-o-transform: rotate(184deg);
	transform: rotate(184deg);
}

#UFRHJPD{
	-moz-transform: rotate(185deg);
	-webkit-transform: rotate(185deg);
	-ms-transform: rotate(185deg);
	-o-transform: rotate(185deg);
	transform: rotate(185deg);
}

#GRGOQYF{
	-moz-transform: rotate(186deg);
	-webkit-transform: rotate(186deg);
	-ms-transform: rotate(186deg);
	-o-transform: rotate(186deg);
	transform: rotate(186deg);
}

#SWQKMZB{
	-moz-transform: rotate(187deg);
	-webkit-transform: rotate(187deg);
	-ms-transform: rotate(187deg);
	-o-transform: rotate(187deg);
	transform: rotate(187deg);
}

#EQTQBHM{
	-moz-transform: rotate(188deg);
	-webkit-transform: rotate(188deg);
	-ms-transform: rotate(188deg);
	-o-transform: rotate(188deg);
	transform: rotate(188deg);
}

#LSDRFFG{
	-moz-transform: rotate(189deg);
	-webkit-transform: rotate(189deg);
	-ms-transform: rotate(189deg);
	-o-transform: rotate(189deg);
	transform: rotate(189deg);
}

#CHGYULW{
	-moz-transform: rotate(190deg);
	-webkit-transform: rotate(190deg);
	-ms-transform: rotate(190deg);
	-o-transform: rotate(190deg);
	transform: rotate(190deg);
}

#TJTVQZI{
	-moz-transform: rotate(191deg);
	-webkit-transform: rotate(191deg);
	-ms-transform: rotate(191deg);
	-o-transform: rotate(191deg);
	transform: rotate(191deg);
}

#OXXPEMX{
	-moz-transform: rotate(192deg);
	-webkit-transform: rotate(192deg);
	-ms-transform: rotate(192deg);
	-o-transform: rotate(192deg);
	transform: rotate(192deg);
}

#STVJBTT{
	-moz-transform: rotate(193deg);
	-webkit-transform: rotate(193deg);
	-ms-transform: rotate(193deg);
	-o-transform: rotate(193deg);
	transform: rotate(193deg);
}

#HHJKOWJ{
	-moz-transform: rotate(194deg);
	-webkit-transform: rotate(194deg);
	-ms-transform: rotate(194deg);
	-o-transform: rotate(194deg);
	transform: rotate(194deg);
}

#TKULRVH{
	-moz-transform: rotate(195deg);
	-webkit-transform: rotate(195deg);
	-ms-transform: rotate(195deg);
	-o-transform: rotate(195deg);
	transform: rotate(195deg);
}

#JECEYJY{
	-moz-transform: rotate(196deg);
	-webkit-transform: rotate(196deg);
	-ms-transform: rotate(196deg);
	-o-transform: rotate(196deg);
	transform: rotate(196deg);
}

#NECBDMC{
	-moz-transform: rotate(197deg);
	-webkit-transform: rotate(197deg);
	-ms-transform: rotate(197deg);
	-o-transform: rotate(197deg);
	transform: rotate(197deg);
}

#TMBWGCG{
	-moz-transform: rotate(198deg);
	-webkit-transform: rotate(198deg);
	-ms-transform: rotate(198deg);
	-o-transform: rotate(198deg);
	transform: rotate(198deg);
}

#YCLFDSW{
	-moz-transform: rotate(199deg);
	-webkit-transform: rotate(199deg);
	-ms-transform: rotate(199deg);
	-o-transform: rotate(199deg);
	transform: rotate(199deg);
}

#PWGPAWG{
	-moz-transform: rotate(200deg);
	-webkit-transform: rotate(200deg);
	-ms-transform: rotate(200deg);
	-o-transform: rotate(200deg);
	transform: rotate(200deg);
}

#NEMIKSS{
	-moz-transform: rotate(201deg);
	-webkit-transform: rotate(201deg);
	-ms-transform: rotate(201deg);
	-o-transform: rotate(201deg);
	transform: rotate(201deg);
}

#IVRUTFF{
	-moz-transform: rotate(202deg);
	-webkit-transform: rotate(202deg);
	-ms-transform: rotate(202deg);
	-o-transform: rotate(202deg);
	transform: rotate(202deg);
}

#LUKGKQV{
	-moz-transform: rotate(203deg);
	-webkit-transform: rotate(203deg);
	-ms-transform: rotate(203deg);
	-o-transform: rotate(203deg);
	transform: rotate(203deg);
}

#RLTMNHW{
	-moz-transform: rotate(204deg);
	-webkit-transform: rotate(204deg);
	-ms-transform: rotate(204deg);
	-o-transform: rotate(204deg);
	transform: rotate(204deg);
}

#ZZWNKOW{
	-moz-transform: rotate(205deg);
	-webkit-transform: rotate(205deg);
	-ms-transform: rotate(205deg);
	-o-transform: rotate(205deg);
	transform: rotate(205deg);
}

#ZIROWSD{
	-moz-transform: rotate(206deg);
	-webkit-transform: rotate(206deg);
	-ms-transform: rotate(206deg);
	-o-transform: rotate(206deg);
	transform: rotate(206deg);
}

#GJVIRVB{
	-moz-transform: rotate(207deg);
	-webkit-transform: rotate(207deg);
	-ms-transform: rotate(207deg);
	-o-transform: rotate(207deg);
	transform: rotate(207deg);
}

#DZVQAXB{
	-moz-transform: rotate(208deg);
	-webkit-transform: rotate(208deg);
	-ms-transform: rotate(208deg);
	-o-transform: rotate(208deg);
	transform: rotate(208deg);
}

#XIWEFGR{
	-moz-transform: rotate(209deg);
	-webkit-transform: rotate(209deg);
	-ms-transform: rotate(209deg);
	-o-transform: rotate(209deg);
	transform: rotate(209deg);
}

#DKILFSH{
	-moz-transform: rotate(210deg);
	-webkit-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	-o-transform: rotate(210deg);
	transform: rotate(210deg);
}

#GVZVLIA{
	-moz-transform: rotate(211deg);
	-webkit-transform: rotate(211deg);
	-ms-transform: rotate(211deg);
	-o-transform: rotate(211deg);
	transform: rotate(211deg);
}

#KSDDKNE{
	-moz-transform: rotate(212deg);
	-webkit-transform: rotate(212deg);
	-ms-transform: rotate(212deg);
	-o-transform: rotate(212deg);
	transform: rotate(212deg);
}

#ZRCNOWH{
	-moz-transform: rotate(213deg);
	-webkit-transform: rotate(213deg);
	-ms-transform: rotate(213deg);
	-o-transform: rotate(213deg);
	transform: rotate(213deg);
}

#GORVMFO{
	-moz-transform: rotate(214deg);
	-webkit-transform: rotate(214deg);
	-ms-transform: rotate(214deg);
	-o-transform: rotate(214deg);
	transform: rotate(214deg);
}

#FAHWXWK{
	-moz-transform: rotate(215deg);
	-webkit-transform: rotate(215deg);
	-ms-transform: rotate(215deg);
	-o-transform: rotate(215deg);
	transform: rotate(215deg);
}

#SNATDTN{
	-moz-transform: rotate(216deg);
	-webkit-transform: rotate(216deg);
	-ms-transform: rotate(216deg);
	-o-transform: rotate(216deg);
	transform: rotate(216deg);
}

#LBNSUWO{
	-moz-transform: rotate(217deg);
	-webkit-transform: rotate(217deg);
	-ms-transform: rotate(217deg);
	-o-transform: rotate(217deg);
	transform: rotate(217deg);
}

#HERCYHH{
	-moz-transform: rotate(218deg);
	-webkit-transform: rotate(218deg);
	-ms-transform: rotate(218deg);
	-o-transform: rotate(218deg);
	transform: rotate(218deg);
}

#ZMORXJE{
	-moz-transform: rotate(219deg);
	-webkit-transform: rotate(219deg);
	-ms-transform: rotate(219deg);
	-o-transform: rotate(219deg);
	transform: rotate(219deg);
}

#BSXUGYM{
	-moz-transform: rotate(220deg);
	-webkit-transform: rotate(220deg);
	-ms-transform: rotate(220deg);
	-o-transform: rotate(220deg);
	transform: rotate(220deg);
}

#PKTOQSG{
	-moz-transform: rotate(221deg);
	-webkit-transform: rotate(221deg);
	-ms-transform: rotate(221deg);
	-o-transform: rotate(221deg);
	transform: rotate(221deg);
}

#UHUFPEQ{
	-moz-transform: rotate(222deg);
	-webkit-transform: rotate(222deg);
	-ms-transform: rotate(222deg);
	-o-transform: rotate(222deg);
	transform: rotate(222deg);
}

#ZSFQPMN{
	-moz-transform: rotate(223deg);
	-webkit-transform: rotate(223deg);
	-ms-transform: rotate(223deg);
	-o-transform: rotate(223deg);
	transform: rotate(223deg);
}

#XXBZXXK{
	-moz-transform: rotate(224deg);
	-webkit-transform: rotate(224deg);
	-ms-transform: rotate(224deg);
	-o-transform: rotate(224deg);
	transform: rotate(224deg);
}

#CSRLXNM{
	-moz-transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}

#KPKWZZP{
	-moz-transform: rotate(226deg);
	-webkit-transform: rotate(226deg);
	-ms-transform: rotate(226deg);
	-o-transform: rotate(226deg);
	transform: rotate(226deg);
}

#RGBVSKK{
	-moz-transform: rotate(227deg);
	-webkit-transform: rotate(227deg);
	-ms-transform: rotate(227deg);
	-o-transform: rotate(227deg);
	transform: rotate(227deg);
}

#AOPHBXG{
	-moz-transform: rotate(228deg);
	-webkit-transform: rotate(228deg);
	-ms-transform: rotate(228deg);
	-o-transform: rotate(228deg);
	transform: rotate(228deg);
}

#FMMMOTT{
	-moz-transform: rotate(229deg);
	-webkit-transform: rotate(229deg);
	-ms-transform: rotate(229deg);
	-o-transform: rotate(229deg);
	transform: rotate(229deg);
}

#PKVXWNK{
	-moz-transform: rotate(230deg);
	-webkit-transform: rotate(230deg);
	-ms-transform: rotate(230deg);
	-o-transform: rotate(230deg);
	transform: rotate(230deg);
}

#YJBFBNE{
	-moz-transform: rotate(231deg);
	-webkit-transform: rotate(231deg);
	-ms-transform: rotate(231deg);
	-o-transform: rotate(231deg);
	transform: rotate(231deg);
}

#HFOXDNL{
	-moz-transform: rotate(232deg);
	-webkit-transform: rotate(232deg);
	-ms-transform: rotate(232deg);
	-o-transform: rotate(232deg);
	transform: rotate(232deg);
}

#YUQBVVH{
	-moz-transform: rotate(233deg);
	-webkit-transform: rotate(233deg);
	-ms-transform: rotate(233deg);
	-o-transform: rotate(233deg);
	transform: rotate(233deg);
}

#BFOVUWG{
	-moz-transform: rotate(234deg);
	-webkit-transform: rotate(234deg);
	-ms-transform: rotate(234deg);
	-o-transform: rotate(234deg);
	transform: rotate(234deg);
}

#EJEXZPA{
	-moz-transform: rotate(235deg);
	-webkit-transform: rotate(235deg);
	-ms-transform: rotate(235deg);
	-o-transform: rotate(235deg);
	transform: rotate(235deg);
}

#IZCNBJT{
	-moz-transform: rotate(236deg);
	-webkit-transform: rotate(236deg);
	-ms-transform: rotate(236deg);
	-o-transform: rotate(236deg);
	transform: rotate(236deg);
}

#XQPNKGT{
	-moz-transform: rotate(237deg);
	-webkit-transform: rotate(237deg);
	-ms-transform: rotate(237deg);
	-o-transform: rotate(237deg);
	transform: rotate(237deg);
}

#KJZDKIA{
	-moz-transform: rotate(238deg);
	-webkit-transform: rotate(238deg);
	-ms-transform: rotate(238deg);
	-o-transform: rotate(238deg);
	transform: rotate(238deg);
}

#JPAOFYV{
	-moz-transform: rotate(239deg);
	-webkit-transform: rotate(239deg);
	-ms-transform: rotate(239deg);
	-o-transform: rotate(239deg);
	transform: rotate(239deg);
}

#UWJECRY{
	-moz-transform: rotate(240deg);
	-webkit-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	-o-transform: rotate(240deg);
	transform: rotate(240deg);
}

#MWVCMIQ{
	-moz-transform: rotate(241deg);
	-webkit-transform: rotate(241deg);
	-ms-transform: rotate(241deg);
	-o-transform: rotate(241deg);
	transform: rotate(241deg);
}

#JYJWNCB{
	-moz-transform: rotate(242deg);
	-webkit-transform: rotate(242deg);
	-ms-transform: rotate(242deg);
	-o-transform: rotate(242deg);
	transform: rotate(242deg);
}

#RZDKXKQ{
	-moz-transform: rotate(243deg);
	-webkit-transform: rotate(243deg);
	-ms-transform: rotate(243deg);
	-o-transform: rotate(243deg);
	transform: rotate(243deg);
}

#WSWHKZZ{
	-moz-transform: rotate(244deg);
	-webkit-transform: rotate(244deg);
	-ms-transform: rotate(244deg);
	-o-transform: rotate(244deg);
	transform: rotate(244deg);
}

#BHTAVBE{
	-moz-transform: rotate(245deg);
	-webkit-transform: rotate(245deg);
	-ms-transform: rotate(245deg);
	-o-transform: rotate(245deg);
	transform: rotate(245deg);
}

#SJOJNUM{
	-moz-transform: rotate(246deg);
	-webkit-transform: rotate(246deg);
	-ms-transform: rotate(246deg);
	-o-transform: rotate(246deg);
	transform: rotate(246deg);
}

#FDTTTRS{
	-moz-transform: rotate(247deg);
	-webkit-transform: rotate(247deg);
	-ms-transform: rotate(247deg);
	-o-transform: rotate(247deg);
	transform: rotate(247deg);
}

#QMQKXOB{
	-moz-transform: rotate(248deg);
	-webkit-transform: rotate(248deg);
	-ms-transform: rotate(248deg);
	-o-transform: rotate(248deg);
	transform: rotate(248deg);
}

#HFDQGTQ{
	-moz-transform: rotate(249deg);
	-webkit-transform: rotate(249deg);
	-ms-transform: rotate(249deg);
	-o-transform: rotate(249deg);
	transform: rotate(249deg);
}

#HVVGLJI{
	-moz-transform: rotate(250deg);
	-webkit-transform: rotate(250deg);
	-ms-transform: rotate(250deg);
	-o-transform: rotate(250deg);
	transform: rotate(250deg);
}

#QYGDQRL{
	-moz-transform: rotate(251deg);
	-webkit-transform: rotate(251deg);
	-ms-transform: rotate(251deg);
	-o-transform: rotate(251deg);
	transform: rotate(251deg);
}

#ABJGNOX{
	-moz-transform: rotate(252deg);
	-webkit-transform: rotate(252deg);
	-ms-transform: rotate(252deg);
	-o-transform: rotate(252deg);
	transform: rotate(252deg);
}

#PABOKGL{
	-moz-transform: rotate(253deg);
	-webkit-transform: rotate(253deg);
	-ms-transform: rotate(253deg);
	-o-transform: rotate(253deg);
	transform: rotate(253deg);
}

#DJGDFLW{
	-moz-transform: rotate(254deg);
	-webkit-transform: rotate(254deg);
	-ms-transform: rotate(254deg);
	-o-transform: rotate(254deg);
	transform: rotate(254deg);
}

#ZSSVCTJ{
	-moz-transform: rotate(255deg);
	-webkit-transform: rotate(255deg);
	-ms-transform: rotate(255deg);
	-o-transform: rotate(255deg);
	transform: rotate(255deg);
}

#QRBTFWR{
	-moz-transform: rotate(256deg);
	-webkit-transform: rotate(256deg);
	-ms-transform: rotate(256deg);
	-o-transform: rotate(256deg);
	transform: rotate(256deg);
}

#ARRNUZT{
	-moz-transform: rotate(257deg);
	-webkit-transform: rotate(257deg);
	-ms-transform: rotate(257deg);
	-o-transform: rotate(257deg);
	transform: rotate(257deg);
}

#JPJAPRI{
	-moz-transform: rotate(258deg);
	-webkit-transform: rotate(258deg);
	-ms-transform: rotate(258deg);
	-o-transform: rotate(258deg);
	transform: rotate(258deg);
}

#FBZZSQY{
	-moz-transform: rotate(259deg);
	-webkit-transform: rotate(259deg);
	-ms-transform: rotate(259deg);
	-o-transform: rotate(259deg);
	transform: rotate(259deg);
}

#PTQFWVV{
	-moz-transform: rotate(260deg);
	-webkit-transform: rotate(260deg);
	-ms-transform: rotate(260deg);
	-o-transform: rotate(260deg);
	transform: rotate(260deg);
}

#KOLCCEQ{
	-moz-transform: rotate(261deg);
	-webkit-transform: rotate(261deg);
	-ms-transform: rotate(261deg);
	-o-transform: rotate(261deg);
	transform: rotate(261deg);
}

#TSUUFRR{
	-moz-transform: rotate(262deg);
	-webkit-transform: rotate(262deg);
	-ms-transform: rotate(262deg);
	-o-transform: rotate(262deg);
	transform: rotate(262deg);
}

#YYJHJLQ{
	-moz-transform: rotate(263deg);
	-webkit-transform: rotate(263deg);
	-ms-transform: rotate(263deg);
	-o-transform: rotate(263deg);
	transform: rotate(263deg);
}

#PHJHHNK{
	-moz-transform: rotate(264deg);
	-webkit-transform: rotate(264deg);
	-ms-transform: rotate(264deg);
	-o-transform: rotate(264deg);
	transform: rotate(264deg);
}

#HFACVHH{
	-moz-transform: rotate(265deg);
	-webkit-transform: rotate(265deg);
	-ms-transform: rotate(265deg);
	-o-transform: rotate(265deg);
	transform: rotate(265deg);
}

#RJDMNVO{
	-moz-transform: rotate(266deg);
	-webkit-transform: rotate(266deg);
	-ms-transform: rotate(266deg);
	-o-transform: rotate(266deg);
	transform: rotate(266deg);
}

#MJXVVYK{
	-moz-transform: rotate(267deg);
	-webkit-transform: rotate(267deg);
	-ms-transform: rotate(267deg);
	-o-transform: rotate(267deg);
	transform: rotate(267deg);
}

#LEHKQHP{
	-moz-transform: rotate(268deg);
	-webkit-transform: rotate(268deg);
	-ms-transform: rotate(268deg);
	-o-transform: rotate(268deg);
	transform: rotate(268deg);
}

#VIMGKXR{
	-moz-transform: rotate(269deg);
	-webkit-transform: rotate(269deg);
	-ms-transform: rotate(269deg);
	-o-transform: rotate(269deg);
	transform: rotate(269deg);
}

#OJTGANA{
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}

#ELREYAK{
	-moz-transform: rotate(271deg);
	-webkit-transform: rotate(271deg);
	-ms-transform: rotate(271deg);
	-o-transform: rotate(271deg);
	transform: rotate(271deg);
}

#ABPENCW{
	-moz-transform: rotate(272deg);
	-webkit-transform: rotate(272deg);
	-ms-transform: rotate(272deg);
	-o-transform: rotate(272deg);
	transform: rotate(272deg);
}

#XIFDYPR{
	-moz-transform: rotate(273deg);
	-webkit-transform: rotate(273deg);
	-ms-transform: rotate(273deg);
	-o-transform: rotate(273deg);
	transform: rotate(273deg);
}

#MWYJEHS{
	-moz-transform: rotate(274deg);
	-webkit-transform: rotate(274deg);
	-ms-transform: rotate(274deg);
	-o-transform: rotate(274deg);
	transform: rotate(274deg);
}

#IBIPYXA{
	-moz-transform: rotate(275deg);
	-webkit-transform: rotate(275deg);
	-ms-transform: rotate(275deg);
	-o-transform: rotate(275deg);
	transform: rotate(275deg);
}

#WAZPRBR{
	-moz-transform: rotate(276deg);
	-webkit-transform: rotate(276deg);
	-ms-transform: rotate(276deg);
	-o-transform: rotate(276deg);
	transform: rotate(276deg);
}

#NLXTQAF{
	-moz-transform: rotate(277deg);
	-webkit-transform: rotate(277deg);
	-ms-transform: rotate(277deg);
	-o-transform: rotate(277deg);
	transform: rotate(277deg);
}

#RLIYDXM{
	-moz-transform: rotate(278deg);
	-webkit-transform: rotate(278deg);
	-ms-transform: rotate(278deg);
	-o-transform: rotate(278deg);
	transform: rotate(278deg);
}

#RQCGXXI{
	-moz-transform: rotate(279deg);
	-webkit-transform: rotate(279deg);
	-ms-transform: rotate(279deg);
	-o-transform: rotate(279deg);
	transform: rotate(279deg);
}

#QBFCVYR{
	-moz-transform: rotate(280deg);
	-webkit-transform: rotate(280deg);
	-ms-transform: rotate(280deg);
	-o-transform: rotate(280deg);
	transform: rotate(280deg);
}

#LOVFFQM{
	-moz-transform: rotate(281deg);
	-webkit-transform: rotate(281deg);
	-ms-transform: rotate(281deg);
	-o-transform: rotate(281deg);
	transform: rotate(281deg);
}

#DYXJHJB{
	-moz-transform: rotate(282deg);
	-webkit-transform: rotate(282deg);
	-ms-transform: rotate(282deg);
	-o-transform: rotate(282deg);
	transform: rotate(282deg);
}

#WZTDSML{
	-moz-transform: rotate(283deg);
	-webkit-transform: rotate(283deg);
	-ms-transform: rotate(283deg);
	-o-transform: rotate(283deg);
	transform: rotate(283deg);
}

#XUZNYHL{
	-moz-transform: rotate(284deg);
	-webkit-transform: rotate(284deg);
	-ms-transform: rotate(284deg);
	-o-transform: rotate(284deg);
	transform: rotate(284deg);
}

#DZOZMNP{
	-moz-transform: rotate(285deg);
	-webkit-transform: rotate(285deg);
	-ms-transform: rotate(285deg);
	-o-transform: rotate(285deg);
	transform: rotate(285deg);
}

#MYUOZIL{
	-moz-transform: rotate(286deg);
	-webkit-transform: rotate(286deg);
	-ms-transform: rotate(286deg);
	-o-transform: rotate(286deg);
	transform: rotate(286deg);
}

#MXYNHRP{
	-moz-transform: rotate(287deg);
	-webkit-transform: rotate(287deg);
	-ms-transform: rotate(287deg);
	-o-transform: rotate(287deg);
	transform: rotate(287deg);
}

#NSVXIGE{
	-moz-transform: rotate(288deg);
	-webkit-transform: rotate(288deg);
	-ms-transform: rotate(288deg);
	-o-transform: rotate(288deg);
	transform: rotate(288deg);
}

#LDUXLEI{
	-moz-transform: rotate(289deg);
	-webkit-transform: rotate(289deg);
	-ms-transform: rotate(289deg);
	-o-transform: rotate(289deg);
	transform: rotate(289deg);
}

#OLEBMME{
	-moz-transform: rotate(290deg);
	-webkit-transform: rotate(290deg);
	-ms-transform: rotate(290deg);
	-o-transform: rotate(290deg);
	transform: rotate(290deg);
}

#MCQFGOF{
	-moz-transform: rotate(291deg);
	-webkit-transform: rotate(291deg);
	-ms-transform: rotate(291deg);
	-o-transform: rotate(291deg);
	transform: rotate(291deg);
}

#SYAGCEN{
	-moz-transform: rotate(292deg);
	-webkit-transform: rotate(292deg);
	-ms-transform: rotate(292deg);
	-o-transform: rotate(292deg);
	transform: rotate(292deg);
}

#MAEWBCB{
	-moz-transform: rotate(293deg);
	-webkit-transform: rotate(293deg);
	-ms-transform: rotate(293deg);
	-o-transform: rotate(293deg);
	transform: rotate(293deg);
}

#DQYJMGF{
	-moz-transform: rotate(294deg);
	-webkit-transform: rotate(294deg);
	-ms-transform: rotate(294deg);
	-o-transform: rotate(294deg);
	transform: rotate(294deg);
}

#CWQELAW{
	-moz-transform: rotate(295deg);
	-webkit-transform: rotate(295deg);
	-ms-transform: rotate(295deg);
	-o-transform: rotate(295deg);
	transform: rotate(295deg);
}

#JWIMZEN{
	-moz-transform: rotate(296deg);
	-webkit-transform: rotate(296deg);
	-ms-transform: rotate(296deg);
	-o-transform: rotate(296deg);
	transform: rotate(296deg);
}

#VCBDMNM{
	-moz-transform: rotate(297deg);
	-webkit-transform: rotate(297deg);
	-ms-transform: rotate(297deg);
	-o-transform: rotate(297deg);
	transform: rotate(297deg);
}

#KDIQBQZ{
	-moz-transform: rotate(298deg);
	-webkit-transform: rotate(298deg);
	-ms-transform: rotate(298deg);
	-o-transform: rotate(298deg);
	transform: rotate(298deg);
}

#GADXTJV{
	-moz-transform: rotate(299deg);
	-webkit-transform: rotate(299deg);
	-ms-transform: rotate(299deg);
	-o-transform: rotate(299deg);
	transform: rotate(299deg);
}

#DFRQTTZ{
	-moz-transform: rotate(300deg);
	-webkit-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	-o-transform: rotate(300deg);
	transform: rotate(300deg);
}

#UFGBGAY{
	-moz-transform: rotate(301deg);
	-webkit-transform: rotate(301deg);
	-ms-transform: rotate(301deg);
	-o-transform: rotate(301deg);
	transform: rotate(301deg);
}

#BKZTYTL{
	-moz-transform: rotate(302deg);
	-webkit-transform: rotate(302deg);
	-ms-transform: rotate(302deg);
	-o-transform: rotate(302deg);
	transform: rotate(302deg);
}

#VBLWDPE{
	-moz-transform: rotate(303deg);
	-webkit-transform: rotate(303deg);
	-ms-transform: rotate(303deg);
	-o-transform: rotate(303deg);
	transform: rotate(303deg);
}

#LRHQQRY{
	-moz-transform: rotate(304deg);
	-webkit-transform: rotate(304deg);
	-ms-transform: rotate(304deg);
	-o-transform: rotate(304deg);
	transform: rotate(304deg);
}

#VXNVXFO{
	-moz-transform: rotate(305deg);
	-webkit-transform: rotate(305deg);
	-ms-transform: rotate(305deg);
	-o-transform: rotate(305deg);
	transform: rotate(305deg);
}

#IJASHQC{
	-moz-transform: rotate(306deg);
	-webkit-transform: rotate(306deg);
	-ms-transform: rotate(306deg);
	-o-transform: rotate(306deg);
	transform: rotate(306deg);
}

#VNWIBQR{
	-moz-transform: rotate(307deg);
	-webkit-transform: rotate(307deg);
	-ms-transform: rotate(307deg);
	-o-transform: rotate(307deg);
	transform: rotate(307deg);
}

#PJERHIC{
	-moz-transform: rotate(308deg);
	-webkit-transform: rotate(308deg);
	-ms-transform: rotate(308deg);
	-o-transform: rotate(308deg);
	transform: rotate(308deg);
}

#OAGCNGU{
	-moz-transform: rotate(309deg);
	-webkit-transform: rotate(309deg);
	-ms-transform: rotate(309deg);
	-o-transform: rotate(309deg);
	transform: rotate(309deg);
}

#IWKQBWQ{
	-moz-transform: rotate(310deg);
	-webkit-transform: rotate(310deg);
	-ms-transform: rotate(310deg);
	-o-transform: rotate(310deg);
	transform: rotate(310deg);
}

#RRCFVAI{
	-moz-transform: rotate(311deg);
	-webkit-transform: rotate(311deg);
	-ms-transform: rotate(311deg);
	-o-transform: rotate(311deg);
	transform: rotate(311deg);
}

#TCOHYMI{
	-moz-transform: rotate(312deg);
	-webkit-transform: rotate(312deg);
	-ms-transform: rotate(312deg);
	-o-transform: rotate(312deg);
	transform: rotate(312deg);
}

#MTDHXWB{
	-moz-transform: rotate(313deg);
	-webkit-transform: rotate(313deg);
	-ms-transform: rotate(313deg);
	-o-transform: rotate(313deg);
	transform: rotate(313deg);
}

#HZMFUQK{
	-moz-transform: rotate(314deg);
	-webkit-transform: rotate(314deg);
	-ms-transform: rotate(314deg);
	-o-transform: rotate(314deg);
	transform: rotate(314deg);
}

#EDHLPFT{
	-moz-transform: rotate(315deg);
	-webkit-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	-o-transform: rotate(315deg);
	transform: rotate(315deg);
}

#WRPLCAZ{
	-moz-transform: rotate(316deg);
	-webkit-transform: rotate(316deg);
	-ms-transform: rotate(316deg);
	-o-transform: rotate(316deg);
	transform: rotate(316deg);
}

#TSBPEAP{
	-moz-transform: rotate(317deg);
	-webkit-transform: rotate(317deg);
	-ms-transform: rotate(317deg);
	-o-transform: rotate(317deg);
	transform: rotate(317deg);
}

#JBLZGGU{
	-moz-transform: rotate(318deg);
	-webkit-transform: rotate(318deg);
	-ms-transform: rotate(318deg);
	-o-transform: rotate(318deg);
	transform: rotate(318deg);
}

#UHTFUDD{
	-moz-transform: rotate(319deg);
	-webkit-transform: rotate(319deg);
	-ms-transform: rotate(319deg);
	-o-transform: rotate(319deg);
	transform: rotate(319deg);
}

#EDFUBWD{
	-moz-transform: rotate(320deg);
	-webkit-transform: rotate(320deg);
	-ms-transform: rotate(320deg);
	-o-transform: rotate(320deg);
	transform: rotate(320deg);
}

#BYXWVIO{
	-moz-transform: rotate(321deg);
	-webkit-transform: rotate(321deg);
	-ms-transform: rotate(321deg);
	-o-transform: rotate(321deg);
	transform: rotate(321deg);
}

#MEAMKUN{
	-moz-transform: rotate(322deg);
	-webkit-transform: rotate(322deg);
	-ms-transform: rotate(322deg);
	-o-transform: rotate(322deg);
	transform: rotate(322deg);
}

#HNFDJMW{
	-moz-transform: rotate(323deg);
	-webkit-transform: rotate(323deg);
	-ms-transform: rotate(323deg);
	-o-transform: rotate(323deg);
	transform: rotate(323deg);
}

#XXPPUTM{
	-moz-transform: rotate(324deg);
	-webkit-transform: rotate(324deg);
	-ms-transform: rotate(324deg);
	-o-transform: rotate(324deg);
	transform: rotate(324deg);
}

#QUCJLXS{
	-moz-transform: rotate(325deg);
	-webkit-transform: rotate(325deg);
	-ms-transform: rotate(325deg);
	-o-transform: rotate(325deg);
	transform: rotate(325deg);
}

#FXPKOKA{
	-moz-transform: rotate(326deg);
	-webkit-transform: rotate(326deg);
	-ms-transform: rotate(326deg);
	-o-transform: rotate(326deg);
	transform: rotate(326deg);
}

#LPMDCRO{
	-moz-transform: rotate(327deg);
	-webkit-transform: rotate(327deg);
	-ms-transform: rotate(327deg);
	-o-transform: rotate(327deg);
	transform: rotate(327deg);
}

#KYPAETT{
	-moz-transform: rotate(328deg);
	-webkit-transform: rotate(328deg);
	-ms-transform: rotate(328deg);
	-o-transform: rotate(328deg);
	transform: rotate(328deg);
}

#DXXFIOY{
	-moz-transform: rotate(329deg);
	-webkit-transform: rotate(329deg);
	-ms-transform: rotate(329deg);
	-o-transform: rotate(329deg);
	transform: rotate(329deg);
}

#PXUBFUU{
	-moz-transform: rotate(330deg);
	-webkit-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	-o-transform: rotate(330deg);
	transform: rotate(330deg);
}

#RJXTUNB{
	-moz-transform: rotate(331deg);
	-webkit-transform: rotate(331deg);
	-ms-transform: rotate(331deg);
	-o-transform: rotate(331deg);
	transform: rotate(331deg);
}

#UFLTWPK{
	-moz-transform: rotate(332deg);
	-webkit-transform: rotate(332deg);
	-ms-transform: rotate(332deg);
	-o-transform: rotate(332deg);
	transform: rotate(332deg);
}

#UXHFAGY{
	-moz-transform: rotate(333deg);
	-webkit-transform: rotate(333deg);
	-ms-transform: rotate(333deg);
	-o-transform: rotate(333deg);
	transform: rotate(333deg);
}

#HBQFPOY{
	-moz-transform: rotate(334deg);
	-webkit-transform: rotate(334deg);
	-ms-transform: rotate(334deg);
	-o-transform: rotate(334deg);
	transform: rotate(334deg);
}

#HBPLBKT{
	-moz-transform: rotate(335deg);
	-webkit-transform: rotate(335deg);
	-ms-transform: rotate(335deg);
	-o-transform: rotate(335deg);
	transform: rotate(335deg);
}

#YHRUPDS{
	-moz-transform: rotate(336deg);
	-webkit-transform: rotate(336deg);
	-ms-transform: rotate(336deg);
	-o-transform: rotate(336deg);
	transform: rotate(336deg);
}

#JHETPWQ{
	-moz-transform: rotate(337deg);
	-webkit-transform: rotate(337deg);
	-ms-transform: rotate(337deg);
	-o-transform: rotate(337deg);
	transform: rotate(337deg);
}

#NRQLSSJ{
	-moz-transform: rotate(338deg);
	-webkit-transform: rotate(338deg);
	-ms-transform: rotate(338deg);
	-o-transform: rotate(338deg);
	transform: rotate(338deg);
}

#DUCPKYY{
	-moz-transform: rotate(339deg);
	-webkit-transform: rotate(339deg);
	-ms-transform: rotate(339deg);
	-o-transform: rotate(339deg);
	transform: rotate(339deg);
}

#HCXNPAN{
	-moz-transform: rotate(340deg);
	-webkit-transform: rotate(340deg);
	-ms-transform: rotate(340deg);
	-o-transform: rotate(340deg);
	transform: rotate(340deg);
}

#RCVIKWN{
	-moz-transform: rotate(341deg);
	-webkit-transform: rotate(341deg);
	-ms-transform: rotate(341deg);
	-o-transform: rotate(341deg);
	transform: rotate(341deg);
}

#CKIIVFI{
	-moz-transform: rotate(342deg);
	-webkit-transform: rotate(342deg);
	-ms-transform: rotate(342deg);
	-o-transform: rotate(342deg);
	transform: rotate(342deg);
}

#FGLAZER{
	-moz-transform: rotate(343deg);
	-webkit-transform: rotate(343deg);
	-ms-transform: rotate(343deg);
	-o-transform: rotate(343deg);
	transform: rotate(343deg);
}

#SNJTSMZ{
	-moz-transform: rotate(344deg);
	-webkit-transform: rotate(344deg);
	-ms-transform: rotate(344deg);
	-o-transform: rotate(344deg);
	transform: rotate(344deg);
}

#QUDOEXK{
	-moz-transform: rotate(345deg);
	-webkit-transform: rotate(345deg);
	-ms-transform: rotate(345deg);
	-o-transform: rotate(345deg);
	transform: rotate(345deg);
}

#DFCISCT{
	-moz-transform: rotate(346deg);
	-webkit-transform: rotate(346deg);
	-ms-transform: rotate(346deg);
	-o-transform: rotate(346deg);
	transform: rotate(346deg);
}

#MJXFPMK{
	-moz-transform: rotate(347deg);
	-webkit-transform: rotate(347deg);
	-ms-transform: rotate(347deg);
	-o-transform: rotate(347deg);
	transform: rotate(347deg);
}

#OXTBXRP{
	-moz-transform: rotate(348deg);
	-webkit-transform: rotate(348deg);
	-ms-transform: rotate(348deg);
	-o-transform: rotate(348deg);
	transform: rotate(348deg);
}

#WXCEAKS{
	-moz-transform: rotate(349deg);
	-webkit-transform: rotate(349deg);
	-ms-transform: rotate(349deg);
	-o-transform: rotate(349deg);
	transform: rotate(349deg);
}

#FVAEKSO{
	-moz-transform: rotate(350deg);
	-webkit-transform: rotate(350deg);
	-ms-transform: rotate(350deg);
	-o-transform: rotate(350deg);
	transform: rotate(350deg);
}

#LUOYOSY{
	-moz-transform: rotate(351deg);
	-webkit-transform: rotate(351deg);
	-ms-transform: rotate(351deg);
	-o-transform: rotate(351deg);
	transform: rotate(351deg);
}

#AMUFLXB{
	-moz-transform: rotate(352deg);
	-webkit-transform: rotate(352deg);
	-ms-transform: rotate(352deg);
	-o-transform: rotate(352deg);
	transform: rotate(352deg);
}

#UEOXXNE{
	-moz-transform: rotate(353deg);
	-webkit-transform: rotate(353deg);
	-ms-transform: rotate(353deg);
	-o-transform: rotate(353deg);
	transform: rotate(353deg);
}

#IUXJBDS{
	-moz-transform: rotate(354deg);
	-webkit-transform: rotate(354deg);
	-ms-transform: rotate(354deg);
	-o-transform: rotate(354deg);
	transform: rotate(354deg);
}

#DSXEUXT{
	-moz-transform: rotate(355deg);
	-webkit-transform: rotate(355deg);
	-ms-transform: rotate(355deg);
	-o-transform: rotate(355deg);
	transform: rotate(355deg);
}

#XAFLCDC{
	-moz-transform: rotate(356deg);
	-webkit-transform: rotate(356deg);
	-ms-transform: rotate(356deg);
	-o-transform: rotate(356deg);
	transform: rotate(356deg);
}

#JZYYJED{
	-moz-transform: rotate(357deg);
	-webkit-transform: rotate(357deg);
	-ms-transform: rotate(357deg);
	-o-transform: rotate(357deg);
	transform: rotate(357deg);
}

#ERGQOJF{
	-moz-transform: rotate(358deg);
	-webkit-transform: rotate(358deg);
	-ms-transform: rotate(358deg);
	-o-transform: rotate(358deg);
	transform: rotate(358deg);
}

#PHEMQWB{
	-moz-transform: rotate(359deg);
	-webkit-transform: rotate(359deg);
	-ms-transform: rotate(359deg);
	-o-transform: rotate(359deg);
	transform: rotate(359deg);
}
*/









html{
	overflow-y: scroll;
}
html, body{
	height:100%; width:100%;
	font-family: 'Malgun Gothic', NanumGothic, AppleGothic, Gulim;
	font-size:10pt;
}
div, img,body,h1,h2,h3,h4,h5,h6,ul{
	border:0; margin:0; padding:0;
}
body.cke_contents_ltr{
	margin:5px;
	width:auto;
	height:auto;
}
a{
	text-decoration: none;
	cursor:pointer;
}
a:hover{
	text-decoration:underline;
}
blockquote{ border:1px solid gray; margin:3px; padding:3px; }
input{ margin:0 }
table.notableborder,
.notableborder table, 
.notableborder tr, 
.notableborder td, 
.notableborder th, 
.notableborder thead, 
.notableborder tbody {margin:0; padding:0; border:0; border-spacing:0;}
table.notableborder-direct,
.notableborder-direct, 
.notableborder-direct > thead > tr, 
.notableborder-direct > thead > tr > td, 
.notableborder-direct > thead > tr > th, 
.notableborder-direct > tbody > tr, 
.notableborder-direct > tbody > tr > td, 
.notableborder-direct > tbody > tr > th, 
.notableborder-direct > tr, 
.notableborder-direct > tr > td, 
.notableborder-direct > tr > th, 
.notableborder-direct > thead, 
.notableborder-direct > tbody {margin:0; padding:0; border:0; border-spacing:0;}
table{
	border:none;
}
div#divSavingIndicatorFiller{
	position:absolute;
	width:100%;
	left:0;
	top:0;
	display:none;
	background:black;
	z-index:3;
	opacity:0.70;
	filter:alpha(opacity=70);
}
div#divSavingIndicator{
	position:absolute;
	width:100%;
	left:0;
	top:0;
	display:none;
	z-index:4;
}
div#divSavingIndicatorInformation{
	position:fixed;
	width:480px;
	margin-left:-240px;
	left:50%;
	top:128px;
	font-size:24pt;
	background:white;
	color:black;
	text-align:center;
	padding-top:24px;
	padding-bottom:24px;
	padding-left:36px;
	padding-right:36px;
}
div#total-wrap{
	/* position:relative; */
	width:1100px;
	margin:0 auto;
	font-size:10pt;
}
div#upper-header-menu{
	display:block;
	overflow:hidden;
	height:0;
	opacity:0.7;
	position:relative;
}
div#total-header-menu{
	width:1100px;
	height:40px;
	display:block;
	z-index:999;
}
div#below-header-menu{
	overflow:hidden;
	/* position:relative; */
}
.__hide_contents_link_change{
	position: absolute;top:0;left:0;width: 100%;height:100%;z-index:1;opacity:0;filter:alpha(opacity=0);background:white;
}
div#total-header{
	height:160px;
	background:url('logo.png');
}
div#total-header #userarea{
	width:222px;
	height:124px;
	padding:3px;
	float:right;
}
div#total-header #userarea .login_input{
	width:95%;
}
div#total-header #userarea #status_message,
div#total-header #userarea #status_message_edit{
	display:block;
	height:16px;
	overflow:hidden;
	font-size:9pt;
	padding:1px 0px;
	font-family: 'Malgun Gothic';
}
div#total-header #userarea #status_message{
	padding-top:7px;
	padding-left:2px;
	width:800px;
}
div#total-header #userarea #status_message_edit{
	border:1px solid gray;
	padding-left:2px;
	width:218px;
}
div#total-header #back-to-main{
	display:block;
	height:100%;
}
div#total-header-menu .button{
	width:40px;
	height:40px;
	display:block;
	float:right;
	text-align:center;
}
div#total-header-menu .menu1{
	display:block;
	float:left;
	width:80px;
	height:40px;
	text-align:center;
	line-height:40px;
	overflow:hidden;
}
div#total-header-menu .menu1 .widthholder{
	width:80px;
	overflow:hidden;
}
div#total-header-menu .menu1_text{
	width:80px;
	float:left;
}
div#total-header-menu .menu1_sub{
	display:block;
	float:left;
	height:auto;
	line-height:40px;
	text-align:center;
	overflow:hidden;
}
div#total-header-menu a.menu2{
	display:block;
	float:left;
	width:80px;
	height:40px;
    z-index:999999;
	text-align:center;
	line-height:40px;
}
div#total-header-menu .slidedown_holder{
	position:relative;
}
div#total-header-menu .slidedown{
	position:absolute;
	z-index:2;
	right:0px;
	top:40px;
	display:block;
	width:240px;
	border:1px solid gray;
	background:white;
	display:none;
}
div#total-content{
	clear:both;
}
div#total-footer{
	clear:both;
	text-align:center;
}
.main-block{
	display:block;
	margin:3px;
}
div.tab_global_wrap{
	margin:12px;
	padding:8px;
	background:#DDD;
	display:block;
	position:relative;
}
div.what_to_do{
	position:absolute;
	bottom:8px;
	left:8px;
	width:150px;
}
div.tab_menu{
	display:block;
	float:left;
	width:160px;
}
div.tab_menu ul{
	width:100%;
	margin-left:0;padding-left:0;
	list-style: none outside none;
}
div.tab_menu ul li{
	margin:0;padding:0;border:0;
}
div.tab_menu ul li a{
	display:block;
	padding:7px;
	background:#EEE;
	color:black;
}
div.tab_menu ul li a.tab_menu_selected{
	background:#FFF;
	font-weight:bold;
}
div.tab_menu ul li a:hover{
	background:#CCC;
}
div.tab_wrap{
	margin-left:160px;
	overflow:hidden;
}
div.tab_menu_content{
	display:block;
	margin:0;padding:0;
}
div.tab_menu_items{
	display:none;
	background:white;
	padding:5px;
}
table.table_info_view{
	border-spacing: 0px;
	border-color: 1px none gray;
	border-collapse: collapse;
	width:100%;
}
table.table_info_view th {
	border: 1px inset gray;
	padding: 5px;
	width:200px;
	text-align:right;
	vertical-align:top;
}
table.table_info_view td {
	padding: 5px;
	border: 1px inset gray;
}
table.table_info_view td input[type="text"],
table.table_info_view td input[type="password"]{
	width:320px;
}
div.changeinfo_information{
	margin-top:5px;
	padding:3px;
	background:#FFC;
	border:1px solid gray;
}
ul#top_notification_list{
	display:block;
	width:100%;
	max-height:240px;
	overflow:auto;
}
ul#top_notification_list li{
	display:block;
}
ul#top_notification_list li.new{
	background:#DDF;
}
ul#top_notification_list li:hover{
	background:#EEF;
}
ul#top_notification_list li a{
	height:100%;
	color:black;
	display:block;
	padding:10px;
	box-sizing:
}
div.ajax-holder{
	display:none;
}
.contact-finder #contact_list tbody tr:hover{
	background:#FCFCFC;
}
.contact-finder #contact_list tbody td{
	padding:3px;
	text-align:center;
}
.contact-finder a.wavebutton{
	display:inline-block;
	padding:5px;
	color:black;
	background:white;
}
a,a:link,a:visited{
	color: #4480A2
}
a:hover,a:active{
	color: #60A0C0
}
body{
	font-family: 'Malgun Gothic', NanumGothic, AppleGothic, Gulim;
}
div#backgrounds{
}
input, button, select{
	font-family: 'Malgun Gothic';
}
input[type=text],
input[type=password]{
	border: 1px solid gray;
	-moz-box-shadow: 0 0 5px #333333;
	-webkit-box-shadow: 0 0 5px #333333;
	box-shadow: 0 0 5px #333333;
	border-radius: 3px;
	padding:6px 3px 6px 3px;
	margin: 4px 0 4px 0;
	font-size: 12px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
input[type=text]:focus,
input[type=password]:focus{
	-moz-box-shadow: 0 0 15px #4889b3;
	-webkit-box-shadow: 0 0 15px #4889b3;
	box-shadow: 0 0 15px #4889b3;
}
.upper-file{
	display: inline-block;
	margin:0;
	padding:3px 16px 3px 16px;
	text-align:center;
	position:relative;
	overflow:hidden;
}
.upper-file input[type=file]{
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 0;
	margin: 0;
	border: solid transparent;
	border-width: 0 0 100px 200px;
	opacity: 0.0;
	filter: alpha(opacity=0);
	-o-transform: translate(250px, -50px) scale(1);
	-moz-transform: translate(-300px, 0) scale(4);
	direction: ltr;
	cursor: default;
}
a.likebutton{
	cursor: default;
	padding:6px 7px 6px 7px
}
input[type=button],
input[type=submit],
input[type=reset],
.upper-file,
a.likebutton,
button{
	cursor:default;
	color:black;
	padding-top: 6px;
	padding-bottom: 6px;
	background: rgb(238,238,238); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2UzZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(234,234,234,1) 50%, rgba(231,231,231,1) 51%, rgba(227,227,227,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(50%,rgba(234,234,234,1)), color-stop(51%,rgba(231,231,231,1)), color-stop(100%,rgba(227,227,227,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(234,234,234,1) 50%,rgba(231,231,231,1) 51%,rgba(227,227,227,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(234,234,234,1) 50%,rgba(231,231,231,1) 51%,rgba(227,227,227,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(234,234,234,1) 50%,rgba(231,231,231,1) 51%,rgba(227,227,227,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(234,234,234,1) 50%,rgba(231,231,231,1) 51%,rgba(227,227,227,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-8 */
	border:1px solid gray;
}
input[type=button]:disabled,
input[type=submit]:disabled,
input[type=reset]:disabled,
a.likebutton:disabled,
button:disabled{
	cursor:default;
	color:gray;
	padding-top: 6px;
	padding-bottom: 6px;
	background: #f5f5f5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #f3f3f3 50%, #f1f1f1 51%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(50%,#f3f3f3), color-stop(51%,#f1f1f1), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#f3f3f3 50%,#f1f1f1 51%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f5f5 0%,#f3f3f3 50%,#f1f1f1 51%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#f3f3f3 50%,#f1f1f1 51%,#efefef 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f5f5 0%,#f3f3f3 50%,#f1f1f1 51%,#efefef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#efefef',GradientType=0 ); /* IE6-8 */
	border:1px solid gray;
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
.upper-file:hover,
a.likebutton:hover,
button:hover{
	cursor:default;
	text-decoration:none;
	background: rgb(221,239,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZWZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q1ZWJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2NmZTZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjN2RjZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(221,239,255,1) 0%, rgba(213,235,255,1) 50%, rgba(207,230,255,1) 51%, rgba(199,220,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,239,255,1)), color-stop(50%,rgba(213,235,255,1)), color-stop(51%,rgba(207,230,255,1)), color-stop(100%,rgba(199,220,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(221,239,255,1) 0%,rgba(213,235,255,1) 50%,rgba(207,230,255,1) 51%,rgba(199,220,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(221,239,255,1) 0%,rgba(213,235,255,1) 50%,rgba(207,230,255,1) 51%,rgba(199,220,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(221,239,255,1) 0%,rgba(213,235,255,1) 50%,rgba(207,230,255,1) 51%,rgba(199,220,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(221,239,255,1) 0%,rgba(213,235,255,1) 50%,rgba(207,230,255,1) 51%,rgba(199,220,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddefff', endColorstr='#c7dcff',GradientType=0 ); /* IE6-8 */
}
input[type=button]:active,
input[type=submit]:active,
input[type=et]:active,
.upper-file:active,
a.likebutton:active,
button:active{
	cursor:default;
	background: rgb(172,214,250); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FjZDZmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzliY2NmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzhjYzFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YWE5ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(172,214,250,1) 0%, rgba(155,204,249,1) 50%, rgba(140,193,250,1) 51%, rgba(122,169,244,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(172,214,250,1)), color-stop(50%,rgba(155,204,249,1)), color-stop(51%,rgba(140,193,250,1)), color-stop(100%,rgba(122,169,244,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(172,214,250,1) 0%,rgba(155,204,249,1) 50%,rgba(140,193,250,1) 51%,rgba(122,169,244,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(172,214,250,1) 0%,rgba(155,204,249,1) 50%,rgba(140,193,250,1) 51%,rgba(122,169,244,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(172,214,250,1) 0%,rgba(155,204,249,1) 50%,rgba(140,193,250,1) 51%,rgba(122,169,244,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(172,214,250,1) 0%,rgba(155,204,249,1) 50%,rgba(140,193,250,1) 51%,rgba(122,169,244,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acd6fa', endColorstr='#7aa9f4',GradientType=0 ); /* IE6-8 */
}
select{
	margin: 6px 0 6px 0;
}
div#total-wrap{
	margin:0 auto;
	/* background:white; */
}
div#total-header{
}
div.total-header-extend-1{
	background: url('dasan-extend.jpg') #bed6ea repeat-x center bottom;
}
div.total-header-extend-2{
	background: url('dasan.png') no-repeat center bottom;
}
div#total-header #userarea{
	background: url('menubar-panel.png') #0b2d50;
	color:white;
}
div#upper-header-menu{
	background:white;
}
/* div#below-header-menu{} */

div#total-header #userarea #status_message{
	color:white;
}
div#total-header #userarea #status_message_edit{
	color:black;
}
div#total-header #back-to-main{
	/* background: url('./logo.png') no-repeat; */
}
div#total-header-menu, div.total-header-menu-extend{
	background:url('menubar-base.png');
}
div#total-header-menu .menu1{
	color:white;
	text-decoration:none;
    cursor:pointer;
    cursor:hand;
}
div#total-header-menu .menu1:hover{
	background:url('menubar-hover.png');
}
div#total-header-menu .menu1_sub{
	opacity:0;
	filter:alpha(opacity=0);
	background:url('menubar-hover.png');
}
div#total-header-menu .menu2{
	color:white;
	text-decoration:none;
}
div#total-header-menu .menu2:hover{
	font-weight:bold;
}
div#upper-header-holder{
    cursor:pointer;
    cursor:hand;
}
#total-content{
	background: white;
}
#total-footer{
	background: #fff3d2;
	padding:32px;
}
.main-block{
	border:1px solid #DDD;
	border-radius: 3px;
	background:white;
}
.main-block-title{
	font-size:15pt;
	font-weight:bold;
	padding:5px 5px 5px 10px;
	border-bottom:1px solid #EEE;
	background: #FCFCFC;
}
.main-block-old{
	border:1px solid gray;
}
.userinfo_border{
	border:1px solid #EEE;
}
#slidedown1_button span{
	width:40px;height:40px;display:block;
	background:url('./ic_menu_moreoverflow_normal_holo_light.png') no-repeat center center;
}
#slidedown2_button span{
	width:40px;height:40px;display:block;
	background:url('./ic_location_web_site.png') no-repeat center center;
}
#slidedown3_button span{
	width:40px;height:40px;display:block;
	background:url('./ic_menu_search_holo_light.png') no-repeat center center;
}
span.sitemap-icon{
	width:90px;
	height:90px;
	display:inline-block;
	background:url('./sitemap.png');
}
thead th{
	background:#e1eef0;
	color:black;
}
.contact-finder a.wavebutton:hover{
	background:#ddefff;
}
a.block{
	background:#FCFCFC;
	display:block;
	text-align:center;
}
a.block:hover{
	background:white;
}
a.block:active{
	background:#EEE;
}